<a href="https://colab.research.google.com/github/citysiva180/PySpark_Exclusive_Learning/blob/main/PySpark_Essentials_by_LAYLA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317145 sha256=5d7b208d9ee719aa02df45d7b30823bb399884640b692f67752183c5601a9106
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

## Birds eye view of the course content
  - PySpark Dataframes
  - Spark MLlib
  - Industry Concepts and Best Practices 
  - All using Real dataseta - no fakes!

## Course Curriculum Overview 

- Introduction to PySpark
- Setup Options and Installation Guides 
- Transitioning from Python to PySpark

## Dataframe Essentials 

- Read, write and Validata Dataframes 
- Search/Filter DataFrames 
- Spark SQL Options
- Manipulating Data 
- Aggregating DataFrames 
- Joining and Appending DataFrames 
- Handling Missing Data

## MLlib 

- Foundational Knowledge 
  - Introduction to Machine Learning 
  - Introduction to MLlib
  - Model Selection, Tuning and Cross Validation
- Supervised Learning 
  - Classification Techniques
  - Natural language Processing 
  - Regression Techniques
- Un Supervised Learning 
  - Clustering and Topic Modelling 
  - Frequent Pattern Mining

## Classification and Algorithm Deep learning 

- Logistic Regression
- Binomial Logistic Regression
- Multinomial Logistic Regression
- Decision Tree Classifier
- Random Forest Classifier 
- Gradient Boosted Tree Classifier
- Multi-Layer perception Classifier
- Linear Support Vector Machine 
- One-vs-Rest Classifer
- Naive Bayes

## Natural Language Processing 
- Tokenizing 
- Cleaning Text
- Stopword Removal
- Vectorizing Options: 
  - Count Vectors
  - TF-IDF
  - Word2Vec

## Regression
- Linear Regression
- Decision Tree Regression
- Random Forest Regression
- Gradient Boosted Tree Regression

## Unsupervised Learning 

- Clustering
  - Latent Drichlet Allocation
  - K-Means
  - Bisecting K-Means
  - Gaussian Mixture Model
- Frequent Pattern Mining
  - FP-Growth (Frequent Pattern Growth)
  - Prefix-Span (Sequential Pattern Mining)

## Spark Structured Streaming
- Overview of Concepts
- Simple exmaple using Sockets 
- Twitter Project Streaming Live data

# SECTION - 1 : Introduction to PySpark

### How is PySpark Different than Python? 

- Runs on a cluster
- Certain Process will look different especially when you get in the Machine learning Libraries 
- PySpark Does not use Indexing 
- All Objects in PySpark are Immutable
- Error Messags are much less informative 
- Many of the libraries you are used to using in Python won't function in PySpark

### When does data become Big Data? 

- Datasets which can fit into your disk are not big data 
- Your data becoms big - if you are unable to perform simple read and aggregations with your un used computable memory 
- These data would occupy huge memory space which would require higher processing power such as cloud to maintain and tame them

## Spark Benefits

- Its Written in Scala...but has plenty of API in Scala, Java, Python and R
- Spark Utilizes Hadoop in 2 ways 
  - Storage
  - Process handling 
- Spark is intended to cover an extensive variety of remaining leads, 
for example, cluster applications, iterative calculations, intuitive questions and streaming

***Lazy Computation***

Spark Does not execute the transformation untile some action is encountered or cache is encountered

### Spark Core 
- In charge of Essential IO functionalities 
- Significant in programming and observing the role of spark cluster 
- Task Dispatching 
- Fault Recovery 
- Over Comes Snag of MapReduce by using In Memory Computation

### Spark SQL

- Distributed framework for structured data processing. 
- Spark gets more information about the structure of data and the computation. With this information, Spark can perform extra optimization
- Great for people who don't know Python, Scala or Java

## Spark Streaming

- An Add-on to core Spark API 
  - Scalable 
  - High Throughput 
  - fault tolerant stream processing of live data streams 
- Access data from sources like kafka, Flume, Kinesis or TCP Socket 
- It can operate using various algorithms uses micro-batching

## Spark MLlib

- High quality algorithms at high speeds 
- Make machine learning easy and scalable 
- Came in Spark Release 2.0 
- RDD vs DataFrames

## Spark Graph X

- API for graphs and graph-parallel computation
- Unifies ETL process, Exploratory Analysis and Iterative graph computation within a single system 
- Useage :  Used for many graphical presentation such as Facebooks friendship network
- Industries: disaster detection, banking, stock Market, banking and geographical systems

# Transitioning from Python to PySpark

**What is diffrent in PySpark?**

- Spark MLlib has replaced traditional Python libraries 
- Dataframes took the place of Pandas DF
- Storage Optimization is provided. So you could partition
- Lazy Computation
- Creating functions

**What is same?**

- Importing Libraries 
- General Syntax Style 
- A Lot of AWS Calls are the same

# SECTION - 2 : Dataframes Essentials - Read, Write and Validate data

## What are dataframes? 

Dataframe is data in rows and columns but not persisted in a database table. Rather its a memory level data stored in rows and columns

## Reading DataFrames in Spark 

Spark Supports reading file formats such as CSV, JSON, Parquet and Hive
It could read from Local system or a Distributed system such as Hadoop or a cloud storage system such as s3. It could also read from external database systems

## Paritioning Data in PySpark 

- When it comes to bigdata management, its preferred to parition the files to different sction and store them apart as a parquet files. This reduces the memory space and management 
- Spark has inbuilt functionalities to manage such partitioned or seperated files. Which is cool!

### Coding Section!

1. Read, Write and Validate Data Frames 
  - Read, Write Validate 
  - Exploration DataFrame 
  - SQL options Spark 
2. Clean, Manipulate, Join and Aggregate
  - Manipulating DF, 
  - Joining/Appending DataFrames 
  - Handling Missing Data
  - Aggregation DataFrames

### Spark Session

Use these import statements to create a spark session. 
Using the SparkSession function and the appName function
you create an name the session.But its the `getOrCreate()` which created the spark function

In [3]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('ReadWriteVal').getOrCreate()
spark

Identifying the number of cores of a spark session

In [4]:
cores = spark._jsc.sc().getExecutorMemoryStatus().keySet().size()
cores

1

### Reading a CSV file 

Use the spark.read function to accomplish the same. 
You have parameters such as 
1. `inferSchema( )` - automatically identifies the datatypes of your columns 
2. `header=True` - automatically picks up the column names with the first row

In [5]:
student_path = '/content/drive/MyDrive/Python Files and Datasets AS of 16MAY21 2/PySpark DataFrame Essentials/Datasets/students.csv'
students = spark.read.csv(student_path, inferSchema=True, header=True)

In [6]:
students.toPandas().head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

`limit(n)` helps in limiting the reading of rows in spark dataframe

In [7]:
students.limit(4).toPandas()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44

### Reading and Loading Parquet file

Parquet files are simple data files. the deal is you cant read them with an UI. 
You only have the options to read them from a code. So basically the meta data 
for reading the file using an UI is removed giving it less weight. 

use the `spark.read.parquet(file_path)` to read your file

In [8]:
parquet_path = '/content/drive/MyDrive/Python Files and Datasets AS of 16MAY21 2/PySpark DataFrame Essentials/Datasets/users1.parquet'
patitioned_file = spark.read.parquet(parquet_path)
patitioned_file.limit(4).toPandas()

/usr/local/lib/python3.10/dist-packages/pyspark/sql/pandas/conversion.py:251: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

,registration_dttm,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
0,2016-02-03 07:55:29,1,Amanda,Jordan,ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,3/8/1971,49756.53,Internal Auditor,1E+02
1,2016-02-03 17:04:03,2,Albert,Freeman,afreeman1@is.gd,Male,218.111.175.34,,Canada,1/16/1968,150280.17,Accountant IV,
2,2016-02-03 01:09:31,3,Evelyn,Morgan,emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,2/1/1960,144972.51,Structural Engineer,
3,2016-02-03 00:36:21,4,Denise,Riley,driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,4/8/1997,90263.05,Senior Cost Accountant,

### Reading Multiple Parquet Files

To read multiple parquet files, you need to do the following 
- pass multiple parameters to read files. 
- Use a wild card

Note, the data schema should be the same

In [9]:
general_path = '/content/drive/MyDrive/Python Files and Datasets AS of 16MAY21 2/PySpark DataFrame Essentials/Datasets/'
users_1_2 = spark.read.parquet(general_path+'users1.parquet',general_path+'users2.parquet')
users_1_2.limit(4).toPandas()

/usr/local/lib/python3.10/dist-packages/pyspark/sql/pandas/conversion.py:251: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

,registration_dttm,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
0,2016-02-03 07:55:29,1,Amanda,Jordan,ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,3/8/1971,49756.53,Internal Auditor,1E+02
1,2016-02-03 17:04:03,2,Albert,Freeman,afreeman1@is.gd,Male,218.111.175.34,,Canada,1/16/1968,150280.17,Accountant IV,
2,2016-02-03 01:09:31,3,Evelyn,Morgan,emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,2/1/1960,144972.51,Structural Engineer,
3,2016-02-03 00:36:21,4,Denise,Riley,driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,4/8/1997,90263.05,Senior Cost Accountant,

The both the syntax are same for reading multiple files.

In [10]:
users_1_2 = spark.read.option("basePath",general_path).parquet(general_path+'users1.parquet',general_path+'users2.parquet')
users_1_2.limit(4).toPandas()

/usr/local/lib/python3.10/dist-packages/pyspark/sql/pandas/conversion.py:251: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

,registration_dttm,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
0,2016-02-03 07:55:29,1,Amanda,Jordan,ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,3/8/1971,49756.53,Internal Auditor,1E+02
1,2016-02-03 17:04:03,2,Albert,Freeman,afreeman1@is.gd,Male,218.111.175.34,,Canada,1/16/1968,150280.17,Accountant IV,
2,2016-02-03 01:09:31,3,Evelyn,Morgan,emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,2/1/1960,144972.51,Structural Engineer,
3,2016-02-03 00:36:21,4,Denise,Riley,driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,4/8/1997,90263.05,Senior Cost Accountant,

### Validating Data

You could use the `printSchema()` function to validate your data frame.
by printing the schema, you get the schema in which the dataframe is built.

In [11]:
students.printSchema()

root
 |-- gender: string (nullable = true)
 |-- race/ethnicity: string (nullable = true)
 |-- parental level of education: string (nullable = true)
 |-- lunch: string (nullable = true)
 |-- test preparation course: string (nullable = true)
 |-- math score: integer (nullable = true)
 |-- reading score: integer (nullable = true)
 |-- writing score: integer (nullable = true)

Using `.columns` to identify columns of a data frame

In [12]:
students.columns

['gender',
 'race/ethnicity',
 'parental level of education',
 'lunch',
 'test preparation course',
 'math score',
 'reading score',
 'writing score']

Using describe to find the details of the dataframe. 
- unlike pandas describe, spark `.describe() `function actually talks about the schema of the dataframe

In [13]:
students.describe()

DataFrame[summary: string, gender: string, race/ethnicity: string, parental level of education: string, lunch: string, test preparation course: string, math score: string, reading score: string, writing score: string]

Using the Schema function. You could use the `df.schema['column_name']` to get only the specified column data type.

In [14]:
students.schema['math score'].dataType

IntegerType()

You could also use the select statement and summary to summarize your data. 
At this time, I could see its aggregating. So I think it would not exactly be

In [15]:
students.select("math score", "reading score").summary("count","min","max").show()

+-------+----------+-------------+
|summary|math score|reading score|
+-------+----------+-------------+
|  count|      1000|         1000|
|    min|         0|           17|
|    max|       100|          100|
+-------+----------+-------------+

## Specifying Data Types 

You could decide and specify your data frame's schema using `StructField()` function. 
Use the syntax as below

In [16]:
from pyspark.sql.types import *

data_schema = [
    StructField("name",StringType(),True),
    StructField("email",StringType(),True),
    StructField("city",StringType(),True),
    StructField("mac",StringType(),True),
    StructField("timestamp",DateType(),True),
    StructField("creditcard",StringType(),True),

]

final_struct = StructType(fields = data_schema)
people = spark.read.json(general_path+'people.json',schema=final_struct)

In [17]:
people.limit(4).toPandas()

,name,email,city,mac,timestamp,creditcard
0,None,None,None,None,None,None
1,Keeley Bosco,katlyn@jenkinsmaggio.net,Lake Gladysberg,08:fd:0b:cd:77:f7,2015-04-25,1228-1221-1221-1431
2,Rubye Jerde,juvenal@johnston.name,None,90:4d:fa:42:63:a2,2015-04-25,1228-1221-1221-1431
3,Miss Darian Breitenberg,None,None,f9:0e:d3:40:cb:e9,2015-04-25,None

In [18]:
people.printSchema()

root
 |-- name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- city: string (nullable = true)
 |-- mac: string (nullable = true)
 |-- timestamp: date (nullable = true)
 |-- creditcard: string (nullable = true)

### Writing a Simple CSV file.

Use the below syntax to write files. The data file created will be a Hadoop file. So you could change your mode and work.

In [19]:
students.write.mode('overwrite').csv('write_test.csv')

## Writing a Parquet File

With the same approach you could write a parquet file 
Check out the syntax below and ensure to make out the traces of patterns

In [20]:
users_1_2.write.mode("overwrite").parquet('parquet/')

The Parquet files could also be partitioned as per your wish. For paritioning, 
you need to pass the variable for partitioning. In this example, gender variable is passed. If the assumption is correct, then this variable would be a value in column by which the data would be split by. In this case, the gender column would split / partition the data to 2 different file sets where 1 has all the rows with male in gender column and the other with femal

In [21]:
users_1_2.write.mode('overwrite').partitionBy("gender").parquet('part_parquet/')

## Writing a data frame in Spark

This would be a simple syntax where the spark values are properly written

In [22]:
values = [('pear',10),('orange',13),('peach',5)]
df = spark.createDataFrame(values,['fruit','quant'])
df.show()

+------+-----+
| fruit|quant|
+------+-----+
|  pear|   10|
|orange|   13|
| peach|    5|
+------+-----+

## Excercise - 1

1. viewing the first 5 lines of data frame 
2. Printing the schema details 
3. Edit Schema during the read in 
4. Generate Summary Statistics for only one variable 
5. Generate Summary Statistics for 2 variables 
6. Write a Paritioned Parquet file
7. Write a Parquet file
8. Read a paritioned Parquet file
9. Reading in a set of Paritioned Parquet files
10. Create your own dataframe

### Excercise - 1 | Solutions

### Reading a basic CSV dataset

In [23]:
pga = spark.read.csv(general_path+'pga_tour_historical.csv',inferSchema=True,header=True)

1. Printing the first 5 rows of dataframe

In [24]:
pga.toPandas().head()

,Player Name,Season,Statistic,Variable,Value
0,Robert Garrigus,2010,Driving Distance,Driving Distance - (ROUNDS),71
1,Bubba Watson,2010,Driving Distance,Driving Distance - (ROUNDS),77
2,Dustin Johnson,2010,Driving Distance,Driving Distance - (ROUNDS),83
3,Brett Wetterich,2010,Driving Distance,Driving Distance - (ROUNDS),54
4,J.B. Holmes,2010,Driving Distance,Driving Distance - (ROUNDS),100

2. Print the schema details

In [25]:
pga.printSchema()

root
 |-- Player Name: string (nullable = true)
 |-- Season: integer (nullable = true)
 |-- Statistic: string (nullable = true)
 |-- Variable: string (nullable = true)
 |-- Value: string (nullable = true)

In [26]:
pga.columns

['Player Name', 'Season', 'Statistic', 'Variable', 'Value']

In [27]:
pga.toPandas().describe()

             Season
count  2.740403e+06
mean   2.013973e+03
std    2.607050e+00
min    2.010000e+03
25%    2.012000e+03
50%    2.014000e+03
75%    2.016000e+03
max    2.018000e+03

In [28]:
pga.describe()

DataFrame[summary: string, Player Name: string, Season: string, Statistic: string, Variable: string, Value: string]

3. Edit the Schema during the read in

In [29]:
data_schema = [
    StructField("Player Name", StringType(), True),
    StructField("Season", IntegerType(), True),
    StructField("Statistic", StringType(), True),
    StructField("Variable", StringType(), True),
    StructField("Value", IntegerType(), True),
    
]

In [30]:
final_struct = StructType(fields=data_schema)

In [31]:
pga_1 = spark.read.csv(general_path+'pga_tour_historical.csv', schema=final_struct)

In [32]:
pga_1.printSchema()

root
 |-- Player Name: string (nullable = true)
 |-- Season: integer (nullable = true)
 |-- Statistic: string (nullable = true)
 |-- Variable: string (nullable = true)
 |-- Value: integer (nullable = true)

4. Generate Summary Statistics

In [33]:
pga.describe(['Value']).show()

+-------+-----------------+
|summary|            Value|
+-------+-----------------+
|  count|          2696905|
|   mean|137053.9654385609|
| stddev|6046342.246458688|
|    min|       $1,001,580|
|    max|  the Memorial/Mu|
+-------+-----------------+

5. Generate Summary Statistics for Two Variables

In [34]:
pga.select("Season","Value").summary("count","min","max").show()

+-------+-------+---------------+
|summary| Season|          Value|
+-------+-------+---------------+
|  count|2740403|        2696905|
|    min|   2010|     $1,001,580|
|    max|   2018|the Memorial/Mu|
+-------+-------+---------------+

6. Write a parquet file

In [35]:
df = pga.select("Season","Value")
df.write.mode("Overwrite").parquet("partition_parquet/")

7. Write a Paritioned Parquet File

In [36]:
df.write.mode("Overwrite").partitionBy("Season").parquet("paritioned_parquet/")
df.show(5)

+------+-----+
|Season|Value|
+------+-----+
|  2010|   71|
|  2010|   77|
|  2010|   83|
|  2010|   54|
|  2010|  100|
+------+-----+
only showing top 5 rows

8. Reading a set of paritioned Parquet file

In [37]:
path = "paritioned_parquet/"
parquet = spark.read.parquet(path) #+91 82182 24952
parquet.show()

+-----+------+
|Value|Season|
+-----+------+
|   71|  2010|
|   77|  2010|
|   83|  2010|
|   54|  2010|
|  100|  2010|
|   63|  2010|
|   88|  2010|
|   64|  2010|
|   64|  2010|
|   92|  2010|
|   75|  2010|
|   54|  2010|
|   76|  2010|
|   94|  2010|
|   82|  2010|
|   85|  2010|
|   79|  2010|
|   89|  2010|
|   88|  2010|
|   91|  2010|
+-----+------+
only showing top 20 rows

9. Reading in a set of Partitioned Parquet file

In [38]:
path = "/content/paritioned_parquet/"
partitioned = spark.read.parquet(path+'Season=2010/',path+'Season=2011/',path+'Season=2012/')

partitioned.show(5)

+-----+
|Value|
+-----+
|   71|
|   77|
|   83|
|   54|
|  100|
+-----+
only showing top 5 rows

In [39]:
path = "/content/paritioned_parquet/"
partitioned = spark.read.option("basePath",path).parquet(path+'Season=2010/',path+'Season=2011/',path+'Season=2012/')
partitioned.show(5)

+-----+------+
|Value|Season|
+-----+------+
|   71|  2010|
|   77|  2010|
|   83|  2010|
|   54|  2010|
|  100|  2010|
+-----+------+
only showing top 5 rows

10. Create your own DataFrame

In [40]:
values = [('Sydney',10,'A',1),('Melbourne',36,'A',1),('Perth',123,'A',1),('Adelaide',23,'B',1)]
df = spark.createDataFrame(values,['city_names','age','AB','number'])
df.show()

+----------+---+---+------+
|city_names|age| AB|number|
+----------+---+---+------+
|    Sydney| 10|  A|     1|
| Melbourne| 36|  A|     1|
|     Perth|123|  A|     1|
|  Adelaide| 23|  B|     1|
+----------+---+---+------+

## Search and Filter DataFrames in PySpark

We would be working with searching and filtering dataframes in PySpark
The Agenda for this activities are given below 

### Agenda 

1. Introduction to PySpark SQL Functions Library 
2. Select Method 
3. Order By 
4. Like Operator
5. Substring Search 
6. Is In Operator 
7. Starts with, Ends With
8. Slicing
9. Filtering
10. Collecting Results as Objects

In [41]:
# Reading 
spark

In [43]:
fifa = spark.read.csv(general_path+'fifa19.csv',inferSchema=True, header=True)

In [44]:
fifa.limit(5).toPandas()

,_c0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96,33,28,26,6,11,15,14,8,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95,28,31,23,7,11,15,14,11,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94,27,24,33,9,9,15,15,11,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68,15,21,13,90,85,87,88,94,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88,68,58,51,15,13,5,10,13,€196.4M

In [45]:
fifa.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Photo: string (nullable = true)
 |-- Nationality: string (nullable = true)
 |-- Flag: string (nullable = true)
 |-- Overall: integer (nullable = true)
 |-- Potential: integer (nullable = true)
 |-- Club: string (nullable = true)
 |-- Club Logo: string (nullable = true)
 |-- Value: string (nullable = true)
 |-- Wage: string (nullable = true)
 |-- Special: integer (nullable = true)
 |-- Preferred Foot: string (nullable = true)
 |-- International Reputation: integer (nullable = true)
 |-- Weak Foot: integer (nullable = true)
 |-- Skill Moves: integer (nullable = true)
 |-- Work Rate: string (nullable = true)
 |-- Body Type: string (nullable = true)
 |-- Real Face: string (nullable = true)
 |-- Position: string (nullable = true)
 |-- Jersey Number: integer (nullable = true)
 |-- Joined: string (nullable = true)
 |-- Loaned From: string (nullable = true)
 |-- Contract Valid Until: string (nullable = true)
 |-- Height: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- LS: string (nullable = true)
 |-- ST: string (nullable = true)
 |-- RS: string (nullable = true)
 |-- LW: string (nullable = true)
 |-- LF: string (nullable = true)
 |-- CF: string (nullable = true)
 |-- RF: string (nullable = true)
 |-- RW: string (nullable = true)
 |-- LAM: string (nullable = true)
 |-- CAM: string (nullable = true)
 |-- RAM: string (nullable = true)
 |-- LM: string (nullable = true)
 |-- LCM: string (nullable = true)
 |-- CM: string (nullable = true)
 |-- RCM: string (nullable = true)
 |-- RM: string (nullable = true)
 |-- LWB: string (nullable = true)
 |-- LDM: string (nullable = true)
 |-- CDM: string (nullable = true)
 |-- RDM: string (nullable = true)
 |-- RWB: string (nullable = true)
 |-- LB: string (nullable = true)
 |-- LCB: string (nullable = true)
 |-- CB: string (nullable = true)
 |-- RCB: string (nullable = true)
 |-- RB: string (nullable = true)
 |-- Crossing: integer (nullable = true)
 |-- Finishing: integer (nullable = true)
 |-- HeadingAccuracy: integer (nullable = true)
 |-- ShortPassing: integer (nullable = true)
 |-- Volleys: integer (nullable = true)
 |-- Dribbling: integer (nullable = true)
 |-- Curve: integer (nullable = true)
 |-- FKAccuracy: integer (nullable = true)
 |-- LongPassing: integer (nullable = true)
 |-- BallControl: integer (nullable = true)
 |-- Acceleration: integer (nullable = true)
 |-- SprintSpeed: integer (nullable = true)
 |-- Agility: integer (nullable = true)
 |-- Reactions: integer (nullable = true)
 |-- Balance: integer (nullable = true)
 |-- ShotPower: integer (nullable = true)
 |-- Jumping: integer (nullable = true)
 |-- Stamina: integer (nullable = true)
 |-- Strength: integer (nullable = true)
 |-- LongShots: integer (nullable = true)
 |-- Aggression: integer (nullable = true)
 |-- Interceptions: integer (nullable = true)
 |-- Positioning: integer (nullable = true)
 |-- Vision: integer (nullable = true)
 |-- Penalties: integer (nullable = true)
 |-- Composure: integer (nullable = true)
 |-- Marking: integer (nullable = true)
 |-- StandingTackle: integer (nullable = true)
 |-- SlidingTackle: integer (nullable = true)
 |-- GKDiving: integer (nullable = true)
 |-- GKHandling: integer (nullable = true)
 |-- GKKicking: integer (nullable = true)
 |-- GKPositioning: integer (nullable = true)
 |-- GKReflexes: integer (nullable = true)
 |-- Release Clause: string (nullable = true)

In [ ]:
from pyspark.sql.functions import *

Using Spark SQL to select a set of columns

In [47]:
fifa.select(['Nationality','Name','Age','Photo']).show(5)

+-----------+-----------------+---+--------------------+
|Nationality|             Name|Age|               Photo|
+-----------+-----------------+---+--------------------+
|  Argentina|         L. Messi| 31|https://cdn.sofif...|
|   Portugal|Cristiano Ronaldo| 33|https://cdn.sofif...|
|     Brazil|        Neymar Jr| 26|https://cdn.sofif...|
|      Spain|           De Gea| 27|https://cdn.sofif...|
|    Belgium|     K. De Bruyne| 27|https://cdn.sofif...|
+-----------+-----------------+---+--------------------+
only showing top 5 rows

Using Spark SQL to filter players who are youngest

In [48]:
fifa.select(['Name','Age']).orderBy(fifa['Age'].desc()).show(5)

+-------------+---+
|         Name|Age|
+-------------+---+
|     O. Pérez| 45|
|    T. Warner| 44|
|K. Pilkington| 44|
|  S. Narazaki| 42|
|     M. Tyler| 41|
+-------------+---+
only showing top 5 rows

Using the like function you could filter our approximate elements of a column in spark df. Here is an example shown below

In [49]:
fifa.select(["Name","Club"]).where(fifa.Club.like("%Barcelona")).show(5,False)

+---------------+------------+
|Name           |Club        |
+---------------+------------+
|L. Messi       |FC Barcelona|
|L. Suárez      |FC Barcelona|
|M. ter Stegen  |FC Barcelona|
|Sergio Busquets|FC Barcelona|
|Coutinho       |FC Barcelona|
+---------------+------------+
only showing top 5 rows

Select only a part of the string using the substring function

In [51]:
fifa.select("Photo",fifa.Photo.substr(-4,4)).show(5,False)

+----------------------------------------------+-----------------------+
|Photo                                         |substring(Photo, -4, 4)|
+----------------------------------------------+-----------------------+
|https://cdn.sofifa.org/players/4/19/158023.png|.png                   |
|https://cdn.sofifa.org/players/4/19/20801.png |.png                   |
|https://cdn.sofifa.org/players/4/19/190871.png|.png                   |
|https://cdn.sofifa.org/players/4/19/193080.png|.png                   |
|https://cdn.sofifa.org/players/4/19/192985.png|.png                   |
+----------------------------------------------+-----------------------+
only showing top 5 rows

Selecting rows based on multiple values in a column. Here is an example on the same

In [52]:
fifa[fifa.Club.isin("FC Barcelona","Juventus")].limit(4).toPandas()

,_c0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96,33,28,26,6,11,15,14,8,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95,28,31,23,7,11,15,14,11,€127.1M
2,7,176580,L. Suárez,31,https://cdn.sofifa.org/players/4/19/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,91,91,FC Barcelona,...,85,62,45,38,27,25,31,33,37,€164M
3,15,211110,P. Dybala,24,https://cdn.sofifa.org/players/4/19/211110.png,Argentina,https://cdn.sofifa.org/flags/52.png,89,94,Juventus,...,84,23,20,20,5,4,4,5,8,€153.5M

Selecting and Filtering rows based on startswith and endswith function.
Ensure to chain the function in such a way to close this!

In [53]:
fifa.select("Name","Club").where(fifa.Name.startswith("L")).where(fifa.Name.endswith("i")).toPandas().head()

            Name             Club
0       L. Messi     FC Barcelona
1     L. Bonucci         Juventus
2   L. Fabiański  West Ham United
3  L. Pellegrini             Roma
4   L. Pavoletti         Cagliari

Getting the count of the rows in DataFrame

In [54]:
fifa.count()

18207

Selecting the first 5 rows without using head function or limit function

In [55]:
col_list = fifa.columns[0:5]
fifa_columns = fifa.select(col_list)

In [56]:
fifa_columns.show()

+---+------+-----------------+---+--------------------+
|_c0|    ID|             Name|Age|               Photo|
+---+------+-----------------+---+--------------------+
|  0|158023|         L. Messi| 31|https://cdn.sofif...|
|  1| 20801|Cristiano Ronaldo| 33|https://cdn.sofif...|
|  2|190871|        Neymar Jr| 26|https://cdn.sofif...|
|  3|193080|           De Gea| 27|https://cdn.sofif...|
|  4|192985|     K. De Bruyne| 27|https://cdn.sofif...|
|  5|183277|        E. Hazard| 27|https://cdn.sofif...|
|  6|177003|        L. Modrić| 32|https://cdn.sofif...|
|  7|176580|        L. Suárez| 31|https://cdn.sofif...|
|  8|155862|     Sergio Ramos| 32|https://cdn.sofif...|
|  9|200389|         J. Oblak| 25|https://cdn.sofif...|
| 10|188545|   R. Lewandowski| 29|https://cdn.sofif...|
| 11|182521|         T. Kroos| 28|https://cdn.sofif...|
| 12|182493|         D. Godín| 32|https://cdn.sofif...|
| 13|168542|      David Silva| 32|https://cdn.sofif...|
| 14|215914|         N. Kanté| 27|https://cdn.sofif...|
| 15|211110|        P. Dybala| 24|https://cdn.sofif...|
| 16|202126|          H. Kane| 24|https://cdn.sofif...|
| 17|194765|     A. Griezmann| 27|https://cdn.sofif...|
| 18|192448|    M. ter Stegen| 26|https://cdn.sofif...|
| 19|192119|      T. Courtois| 26|https://cdn.sofif...|
+---+------+-----------------+---+--------------------+
only showing top 20 rows

Finding the length of a column

In [57]:
len(fifa_columns.columns)

5

Creating a DataFrame

In [58]:
df = spark.createDataFrame([([1,2,3],),([4,5],)],['x'])
df.show()

+---------+
|        x|
+---------+
|[1, 2, 3]|
|   [4, 5]|
+---------+

In [72]:
new_df = df.take(2)[-1]
new_df

Row(x=[4, 5])

Slicing!

In [73]:
df_sliced = fifa.limit(10).orderBy('Nationality').limit(10)

In [75]:
df_sliced.toPandas().head(5)

,_c0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96,33,28,26,6,11,15,14,8,€226.5M
1,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88,68,58,51,15,13,5,10,13,€196.4M
2,5,183277,E. Hazard,27,https://cdn.sofifa.org/players/4/19/183277.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,91,Chelsea,...,91,34,27,22,11,12,6,8,8,€172.1M
3,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94,27,24,33,9,9,15,15,11,€228.1M
4,6,177003,L. Modrić,32,https://cdn.sofifa.org/players/4/19/177003.png,Croatia,https://cdn.sofifa.org/flags/10.png,91,91,Real Madrid,...,84,60,76,73,13,9,7,14,9,€137.4M

Filtering by using the filder function and selecting the data

In [76]:
fifa.filter("Overall>50").select(['Name','Age']).limit(5).toPandas()

                Name  Age
0           L. Messi   31
1  Cristiano Ronaldo   33
2          Neymar Jr   26
3             De Gea   27
4       K. De Bruyne   27

In [77]:
result = fifa.filter('Overall>50').select(["Nationality","Name","Age","Overall"]).orderBy(fifa["Overall"].desc()).collect()

In [81]:
for items in result[0:5]:
  print(items)

Row(Nationality='Argentina', Name='L. Messi', Age=31, Overall=94)
Row(Nationality='Portugal', Name='Cristiano Ronaldo', Age=33, Overall=94)
Row(Nationality='Brazil', Name='Neymar Jr', Age=26, Overall=92)
Row(Nationality='Spain', Name='De Gea', Age=27, Overall=91)
Row(Nationality='Belgium', Name='K. De Bruyne', Age=27, Overall=91)

In [82]:
print("Worst Player over 50:",result[-1][1])

Worst Player over 50: C. Addai