<a href="https://colab.research.google.com/github/citysiva180/PySpark_Exclusive_Learning/blob/main/PySpark_Essentials_by_LAYLA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317145 sha256=a3204da3332e30d68ad7016b4fc4b85433cd45f056d709d6336ad2786aa8095b
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

## Birds eye view of the course content
  - PySpark Dataframes
  - Spark MLlib
  - Industry Concepts and Best Practices 
  - All using Real dataseta - no fakes!

## Course Curriculum Overview 

- Introduction to PySpark
- Setup Options and Installation Guides 
- Transitioning from Python to PySpark

## Dataframe Essentials 

- Read, write and Validata Dataframes 
- Search/Filter DataFrames 
- Spark SQL Options
- Manipulating Data 
- Aggregating DataFrames 
- Joining and Appending DataFrames 
- Handling Missing Data

## MLlib 

- Foundational Knowledge 
  - Introduction to Machine Learning 
  - Introduction to MLlib
  - Model Selection, Tuning and Cross Validation
- Supervised Learning 
  - Classification Techniques
  - Natural language Processing 
  - Regression Techniques
- Un Supervised Learning 
  - Clustering and Topic Modelling 
  - Frequent Pattern Mining

## Classification and Algorithm Deep learning 

- Logistic Regression
- Binomial Logistic Regression
- Multinomial Logistic Regression
- Decision Tree Classifier
- Random Forest Classifier 
- Gradient Boosted Tree Classifier
- Multi-Layer perception Classifier
- Linear Support Vector Machine 
- One-vs-Rest Classifer
- Naive Bayes

## Natural Language Processing 
- Tokenizing 
- Cleaning Text
- Stopword Removal
- Vectorizing Options: 
  - Count Vectors
  - TF-IDF
  - Word2Vec

## Regression
- Linear Regression
- Decision Tree Regression
- Random Forest Regression
- Gradient Boosted Tree Regression

## Unsupervised Learning 

- Clustering
  - Latent Drichlet Allocation
  - K-Means
  - Bisecting K-Means
  - Gaussian Mixture Model
- Frequent Pattern Mining
  - FP-Growth (Frequent Pattern Growth)
  - Prefix-Span (Sequential Pattern Mining)

## Spark Structured Streaming
- Overview of Concepts
- Simple exmaple using Sockets 
- Twitter Project Streaming Live data

# SECTION - 1 : Introduction to PySpark

### How is PySpark Different than Python? 

- Runs on a cluster
- Certain Process will look different especially when you get in the Machine learning Libraries 
- PySpark Does not use Indexing 
- All Objects in PySpark are Immutable
- Error Messags are much less informative 
- Many of the libraries you are used to using in Python won't function in PySpark

### When does data become Big Data? 

- Datasets which can fit into your disk are not big data 
- Your data becoms big - if you are unable to perform simple read and aggregations with your un used computable memory 
- These data would occupy huge memory space which would require higher processing power such as cloud to maintain and tame them

## Spark Benefits

- Its Written in Scala...but has plenty of API in Scala, Java, Python and R
- Spark Utilizes Hadoop in 2 ways 
  - Storage
  - Process handling 
- Spark is intended to cover an extensive variety of remaining leads, 
for example, cluster applications, iterative calculations, intuitive questions and streaming

***Lazy Computation***

Spark Does not execute the transformation untile some action is encountered or cache is encountered

### Spark Core 
- In charge of Essential IO functionalities 
- Significant in programming and observing the role of spark cluster 
- Task Dispatching 
- Fault Recovery 
- Over Comes Snag of MapReduce by using In Memory Computation

### Spark SQL

- Distributed framework for structured data processing. 
- Spark gets more information about the structure of data and the computation. With this information, Spark can perform extra optimization
- Great for people who don't know Python, Scala or Java

## Spark Streaming

- An Add-on to core Spark API 
  - Scalable 
  - High Throughput 
  - fault tolerant stream processing of live data streams 
- Access data from sources like kafka, Flume, Kinesis or TCP Socket 
- It can operate using various algorithms uses micro-batching

## Spark MLlib

- High quality algorithms at high speeds 
- Make machine learning easy and scalable 
- Came in Spark Release 2.0 
- RDD vs DataFrames

## Spark Graph X

- API for graphs and graph-parallel computation
- Unifies ETL process, Exploratory Analysis and Iterative graph computation within a single system 
- Useage :  Used for many graphical presentation such as Facebooks friendship network
- Industries: disaster detection, banking, stock Market, banking and geographical systems

# Transitioning from Python to PySpark

**What is diffrent in PySpark?**

- Spark MLlib has replaced traditional Python libraries 
- Dataframes took the place of Pandas DF
- Storage Optimization is provided. So you could partition
- Lazy Computation
- Creating functions

**What is same?**

- Importing Libraries 
- General Syntax Style 
- A Lot of AWS Calls are the same

# SECTION - 2 : Dataframes Essentials - Read, Write and Validate data

## What are dataframes? 

Dataframe is data in rows and columns but not persisted in a database table. Rather its a memory level data stored in rows and columns

## Reading DataFrames in Spark 

Spark Supports reading file formats such as CSV, JSON, Parquet and Hive
It could read from Local system or a Distributed system such as Hadoop or a cloud storage system such as s3. It could also read from external database systems

## Paritioning Data in PySpark 

- When it comes to bigdata management, its preferred to parition the files to different sction and store them apart as a parquet files. This reduces the memory space and management 
- Spark has inbuilt functionalities to manage such partitioned or seperated files. Which is cool!

### Coding Section!

1. Read, Write and Validate Data Frames 
  - Read, Write Validate 
  - Exploration DataFrame 
  - SQL options Spark 
2. Clean, Manipulate, Join and Aggregate
  - Manipulating DF, 
  - Joining/Appending DataFrames 
  - Handling Missing Data
  - Aggregation DataFrames

### Spark Session

Use these import statements to create a spark session. 
Using the SparkSession function and the appName function
you create an name the session.But its the `getOrCreate()` which created the spark function

In [3]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('ReadWriteVal').getOrCreate()
spark

Identifying the number of cores of a spark session

In [4]:
cores = spark._jsc.sc().getExecutorMemoryStatus().keySet().size()
cores

1

### Reading a CSV file 

Use the spark.read function to accomplish the same. 
You have parameters such as 
1. `inferSchema( )` - automatically identifies the datatypes of your columns 
2. `header=True` - automatically picks up the column names with the first row

In [5]:
student_path = '/content/drive/MyDrive/Python Files and Datasets AS of 16MAY21 2/PySpark DataFrame Essentials/Datasets/students.csv'
students = spark.read.csv(student_path, inferSchema=True, header=True)

In [6]:
students.toPandas().head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

`limit(n)` helps in limiting the reading of rows in spark dataframe

In [7]:
students.limit(4).toPandas()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44

### Reading and Loading Parquet file

Parquet files are simple data files. the deal is you cant read them with an UI. 
You only have the options to read them from a code. So basically the meta data 
for reading the file using an UI is removed giving it less weight. 

use the `spark.read.parquet(file_path)` to read your file

In [8]:
parquet_path = '/content/drive/MyDrive/Python Files and Datasets AS of 16MAY21 2/PySpark DataFrame Essentials/Datasets/users1.parquet'
patitioned_file = spark.read.parquet(parquet_path)
patitioned_file.limit(4).toPandas()

/usr/local/lib/python3.10/dist-packages/pyspark/sql/pandas/conversion.py:251: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

,registration_dttm,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
0,2016-02-03 07:55:29,1,Amanda,Jordan,ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,3/8/1971,49756.53,Internal Auditor,1E+02
1,2016-02-03 17:04:03,2,Albert,Freeman,afreeman1@is.gd,Male,218.111.175.34,,Canada,1/16/1968,150280.17,Accountant IV,
2,2016-02-03 01:09:31,3,Evelyn,Morgan,emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,2/1/1960,144972.51,Structural Engineer,
3,2016-02-03 00:36:21,4,Denise,Riley,driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,4/8/1997,90263.05,Senior Cost Accountant,

### Reading Multiple Parquet Files

To read multiple parquet files, you need to do the following 
- pass multiple parameters to read files. 
- Use a wild card

Note, the data schema should be the same

In [9]:
general_path = '/content/drive/MyDrive/Python Files and Datasets AS of 16MAY21 2/PySpark DataFrame Essentials/Datasets/'
users_1_2 = spark.read.parquet(general_path+'users1.parquet',general_path+'users2.parquet')
users_1_2.limit(4).toPandas()

/usr/local/lib/python3.10/dist-packages/pyspark/sql/pandas/conversion.py:251: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

,registration_dttm,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
0,2016-02-03 07:55:29,1,Amanda,Jordan,ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,3/8/1971,49756.53,Internal Auditor,1E+02
1,2016-02-03 17:04:03,2,Albert,Freeman,afreeman1@is.gd,Male,218.111.175.34,,Canada,1/16/1968,150280.17,Accountant IV,
2,2016-02-03 01:09:31,3,Evelyn,Morgan,emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,2/1/1960,144972.51,Structural Engineer,
3,2016-02-03 00:36:21,4,Denise,Riley,driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,4/8/1997,90263.05,Senior Cost Accountant,

The both the syntax are same for reading multiple files.

In [10]:
users_1_2 = spark.read.option("basePath",general_path).parquet(general_path+'users1.parquet',general_path+'users2.parquet')
users_1_2.limit(4).toPandas()

/usr/local/lib/python3.10/dist-packages/pyspark/sql/pandas/conversion.py:251: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

,registration_dttm,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
0,2016-02-03 07:55:29,1,Amanda,Jordan,ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,3/8/1971,49756.53,Internal Auditor,1E+02
1,2016-02-03 17:04:03,2,Albert,Freeman,afreeman1@is.gd,Male,218.111.175.34,,Canada,1/16/1968,150280.17,Accountant IV,
2,2016-02-03 01:09:31,3,Evelyn,Morgan,emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,2/1/1960,144972.51,Structural Engineer,
3,2016-02-03 00:36:21,4,Denise,Riley,driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,4/8/1997,90263.05,Senior Cost Accountant,

### Validating Data

You could use the `printSchema()` function to validate your data frame.
by printing the schema, you get the schema in which the dataframe is built.

In [11]:
students.printSchema()

root
 |-- gender: string (nullable = true)
 |-- race/ethnicity: string (nullable = true)
 |-- parental level of education: string (nullable = true)
 |-- lunch: string (nullable = true)
 |-- test preparation course: string (nullable = true)
 |-- math score: integer (nullable = true)
 |-- reading score: integer (nullable = true)
 |-- writing score: integer (nullable = true)

Using `.columns` to identify columns of a data frame

In [12]:
students.columns

['gender',
 'race/ethnicity',
 'parental level of education',
 'lunch',
 'test preparation course',
 'math score',
 'reading score',
 'writing score']

Using describe to find the details of the dataframe. 
- unlike pandas describe, spark `.describe() `function actually talks about the schema of the dataframe

In [13]:
students.describe()

DataFrame[summary: string, gender: string, race/ethnicity: string, parental level of education: string, lunch: string, test preparation course: string, math score: string, reading score: string, writing score: string]

Using the Schema function. You could use the `df.schema['column_name']` to get only the specified column data type.

In [14]:
students.schema['math score'].dataType

IntegerType()

You could also use the select statement and summary to summarize your data. 
At this time, I could see its aggregating. So I think it would not exactly be

In [15]:
students.select("math score", "reading score").summary("count","min","max").show()

+-------+----------+-------------+
|summary|math score|reading score|
+-------+----------+-------------+
|  count|      1000|         1000|
|    min|         0|           17|
|    max|       100|          100|
+-------+----------+-------------+

## Specifying Data Types 

You could decide and specify your data frame's schema using `StructField()` function. 
Use the syntax as below

In [16]:
from pyspark.sql.types import *

data_schema = [
    StructField("name",StringType(),True),
    StructField("email",StringType(),True),
    StructField("city",StringType(),True),
    StructField("mac",StringType(),True),
    StructField("timestamp",DateType(),True),
    StructField("creditcard",StringType(),True),

]

final_struct = StructType(fields = data_schema)
people = spark.read.json(general_path+'people.json',schema=final_struct)

In [17]:
people.limit(4).toPandas()

,name,email,city,mac,timestamp,creditcard
0,None,None,None,None,None,None
1,Keeley Bosco,katlyn@jenkinsmaggio.net,Lake Gladysberg,08:fd:0b:cd:77:f7,2015-04-25,1228-1221-1221-1431
2,Rubye Jerde,juvenal@johnston.name,None,90:4d:fa:42:63:a2,2015-04-25,1228-1221-1221-1431
3,Miss Darian Breitenberg,None,None,f9:0e:d3:40:cb:e9,2015-04-25,None

In [18]:
people.printSchema()

root
 |-- name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- city: string (nullable = true)
 |-- mac: string (nullable = true)
 |-- timestamp: date (nullable = true)
 |-- creditcard: string (nullable = true)

### Writing a Simple CSV file.

Use the below syntax to write files. The data file created will be a Hadoop file. So you could change your mode and work.

In [19]:
students.write.mode('overwrite').csv('write_test.csv')

## Writing a Parquet File

With the same approach you could write a parquet file 
Check out the syntax below and ensure to make out the traces of patterns

In [20]:
users_1_2.write.mode("overwrite").parquet('parquet/')

The Parquet files could also be partitioned as per your wish. For paritioning, 
you need to pass the variable for partitioning. In this example, gender variable is passed. If the assumption is correct, then this variable would be a value in column by which the data would be split by. In this case, the gender column would split / partition the data to 2 different file sets where 1 has all the rows with male in gender column and the other with femal

In [21]:
users_1_2.write.mode('overwrite').partitionBy("gender").parquet('part_parquet/')

## Writing a data frame in Spark

This would be a simple syntax where the spark values are properly written

In [22]:
values = [('pear',10),('orange',13),('peach',5)]
df = spark.createDataFrame(values,['fruit','quant'])
df.show()

+------+-----+
| fruit|quant|
+------+-----+
|  pear|   10|
|orange|   13|
| peach|    5|
+------+-----+

## Excercise - 1

1. viewing the first 5 lines of data frame 
2. Printing the schema details 
3. Edit Schema during the read in 
4. Generate Summary Statistics for only one variable 
5. Generate Summary Statistics for 2 variables 
6. Write a Paritioned Parquet file
7. Write a Parquet file
8. Read a paritioned Parquet file
9. Reading in a set of Paritioned Parquet files
10. Create your own dataframe

### Excercise - 1 | Solutions

### Reading a basic CSV dataset

In [23]:
pga = spark.read.csv(general_path+'pga_tour_historical.csv',inferSchema=True,header=True)

1. Printing the first 5 rows of dataframe

In [24]:
pga.toPandas().head()

,Player Name,Season,Statistic,Variable,Value
0,Robert Garrigus,2010,Driving Distance,Driving Distance - (ROUNDS),71
1,Bubba Watson,2010,Driving Distance,Driving Distance - (ROUNDS),77
2,Dustin Johnson,2010,Driving Distance,Driving Distance - (ROUNDS),83
3,Brett Wetterich,2010,Driving Distance,Driving Distance - (ROUNDS),54
4,J.B. Holmes,2010,Driving Distance,Driving Distance - (ROUNDS),100

2. Print the schema details

In [25]:
pga.printSchema()

root
 |-- Player Name: string (nullable = true)
 |-- Season: integer (nullable = true)
 |-- Statistic: string (nullable = true)
 |-- Variable: string (nullable = true)
 |-- Value: string (nullable = true)

In [26]:
pga.columns

['Player Name', 'Season', 'Statistic', 'Variable', 'Value']

In [27]:
pga.toPandas().describe()

             Season
count  2.740403e+06
mean   2.013973e+03
std    2.607050e+00
min    2.010000e+03
25%    2.012000e+03
50%    2.014000e+03
75%    2.016000e+03
max    2.018000e+03

In [28]:
pga.describe()

DataFrame[summary: string, Player Name: string, Season: string, Statistic: string, Variable: string, Value: string]

3. Edit the Schema during the read in

In [29]:
data_schema = [
    StructField("Player Name", StringType(), True),
    StructField("Season", IntegerType(), True),
    StructField("Statistic", StringType(), True),
    StructField("Variable", StringType(), True),
    StructField("Value", IntegerType(), True),
    
]

In [30]:
final_struct = StructType(fields=data_schema)

In [31]:
pga_1 = spark.read.csv(general_path+'pga_tour_historical.csv', schema=final_struct)

In [32]:
pga_1.printSchema()

root
 |-- Player Name: string (nullable = true)
 |-- Season: integer (nullable = true)
 |-- Statistic: string (nullable = true)
 |-- Variable: string (nullable = true)
 |-- Value: integer (nullable = true)

4. Generate Summary Statistics

In [33]:
pga.describe(['Value']).show()

+-------+-----------------+
|summary|            Value|
+-------+-----------------+
|  count|          2696905|
|   mean|137053.9654385609|
| stddev|6046342.246458688|
|    min|       $1,001,580|
|    max|  the Memorial/Mu|
+-------+-----------------+

5. Generate Summary Statistics for Two Variables

In [34]:
pga.select("Season","Value").summary("count","min","max").show()

+-------+-------+---------------+
|summary| Season|          Value|
+-------+-------+---------------+
|  count|2740403|        2696905|
|    min|   2010|     $1,001,580|
|    max|   2018|the Memorial/Mu|
+-------+-------+---------------+

6. Write a parquet file

In [35]:
df = pga.select("Season","Value")
df.write.mode("Overwrite").parquet("partition_parquet/")

7. Write a Paritioned Parquet File

In [36]:
df.write.mode("Overwrite").partitionBy("Season").parquet("paritioned_parquet/")
df.show(5)

+------+-----+
|Season|Value|
+------+-----+
|  2010|   71|
|  2010|   77|
|  2010|   83|
|  2010|   54|
|  2010|  100|
+------+-----+
only showing top 5 rows

8. Reading a set of paritioned Parquet file

In [37]:
path = "paritioned_parquet/"
parquet = spark.read.parquet(path) #+91 82182 24952
parquet.show()

+-----+------+
|Value|Season|
+-----+------+
|   71|  2010|
|   77|  2010|
|   83|  2010|
|   54|  2010|
|  100|  2010|
|   63|  2010|
|   88|  2010|
|   64|  2010|
|   64|  2010|
|   92|  2010|
|   75|  2010|
|   54|  2010|
|   76|  2010|
|   94|  2010|
|   82|  2010|
|   85|  2010|
|   79|  2010|
|   89|  2010|
|   88|  2010|
|   91|  2010|
+-----+------+
only showing top 20 rows

9. Reading in a set of Partitioned Parquet file

In [38]:
path = "/content/paritioned_parquet/"
partitioned = spark.read.parquet(path+'Season=2010/',path+'Season=2011/',path+'Season=2012/')

partitioned.show(5)

+-----+
|Value|
+-----+
|   71|
|   77|
|   83|
|   54|
|  100|
+-----+
only showing top 5 rows

In [39]:
path = "/content/paritioned_parquet/"
partitioned = spark.read.option("basePath",path).parquet(path+'Season=2010/',path+'Season=2011/',path+'Season=2012/')
partitioned.show(5)

+-----+------+
|Value|Season|
+-----+------+
|   71|  2010|
|   77|  2010|
|   83|  2010|
|   54|  2010|
|  100|  2010|
+-----+------+
only showing top 5 rows

10. Create your own DataFrame

In [40]:
values = [('Sydney',10,'A',1),('Melbourne',36,'A',1),('Perth',123,'A',1),('Adelaide',23,'B',1)]
df = spark.createDataFrame(values,['city_names','age','AB','number'])
df.show()

+----------+---+---+------+
|city_names|age| AB|number|
+----------+---+---+------+
|    Sydney| 10|  A|     1|
| Melbourne| 36|  A|     1|
|     Perth|123|  A|     1|
|  Adelaide| 23|  B|     1|
+----------+---+---+------+

## Search and Filter DataFrames in PySpark

We would be working with searching and filtering dataframes in PySpark
The Agenda for this activities are given below 

### Agenda 

1. Introduction to PySpark SQL Functions Library 
2. Select Method 
3. Order By 
4. Like Operator
5. Substring Search 
6. Is In Operator 
7. Starts with, Ends With
8. Slicing
9. Filtering
10. Collecting Results as Objects

In [41]:
# Reading 
spark

In [42]:
fifa = spark.read.csv(general_path+'fifa19.csv',inferSchema=True, header=True)

In [43]:
fifa.limit(5).toPandas()

,_c0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96,33,28,26,6,11,15,14,8,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95,28,31,23,7,11,15,14,11,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94,27,24,33,9,9,15,15,11,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68,15,21,13,90,85,87,88,94,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88,68,58,51,15,13,5,10,13,€196.4M

In [44]:
fifa.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Photo: string (nullable = true)
 |-- Nationality: string (nullable = true)
 |-- Flag: string (nullable = true)
 |-- Overall: integer (nullable = true)
 |-- Potential: integer (nullable = true)
 |-- Club: string (nullable = true)
 |-- Club Logo: string (nullable = true)
 |-- Value: string (nullable = true)
 |-- Wage: string (nullable = true)
 |-- Special: integer (nullable = true)
 |-- Preferred Foot: string (nullable = true)
 |-- International Reputation: integer (nullable = true)
 |-- Weak Foot: integer (nullable = true)
 |-- Skill Moves: integer (nullable = true)
 |-- Work Rate: string (nullable = true)
 |-- Body Type: string (nullable = true)
 |-- Real Face: string (nullable = true)
 |-- Position: string (nullable = true)
 |-- Jersey Number: integer (nullable = true)
 |-- Joined: string (nullable = true)
 |-- Loaned From: string (nullable = true)
 |-- Contract Valid Until: string (nullable = true)
 |-- Height: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- LS: string (nullable = true)
 |-- ST: string (nullable = true)
 |-- RS: string (nullable = true)
 |-- LW: string (nullable = true)
 |-- LF: string (nullable = true)
 |-- CF: string (nullable = true)
 |-- RF: string (nullable = true)
 |-- RW: string (nullable = true)
 |-- LAM: string (nullable = true)
 |-- CAM: string (nullable = true)
 |-- RAM: string (nullable = true)
 |-- LM: string (nullable = true)
 |-- LCM: string (nullable = true)
 |-- CM: string (nullable = true)
 |-- RCM: string (nullable = true)
 |-- RM: string (nullable = true)
 |-- LWB: string (nullable = true)
 |-- LDM: string (nullable = true)
 |-- CDM: string (nullable = true)
 |-- RDM: string (nullable = true)
 |-- RWB: string (nullable = true)
 |-- LB: string (nullable = true)
 |-- LCB: string (nullable = true)
 |-- CB: string (nullable = true)
 |-- RCB: string (nullable = true)
 |-- RB: string (nullable = true)
 |-- Crossing: integer (nullable = true)
 |-- Finishing: integer (nullable = true)
 |-- HeadingAccuracy: integer (nullable = true)
 |-- ShortPassing: integer (nullable = true)
 |-- Volleys: integer (nullable = true)
 |-- Dribbling: integer (nullable = true)
 |-- Curve: integer (nullable = true)
 |-- FKAccuracy: integer (nullable = true)
 |-- LongPassing: integer (nullable = true)
 |-- BallControl: integer (nullable = true)
 |-- Acceleration: integer (nullable = true)
 |-- SprintSpeed: integer (nullable = true)
 |-- Agility: integer (nullable = true)
 |-- Reactions: integer (nullable = true)
 |-- Balance: integer (nullable = true)
 |-- ShotPower: integer (nullable = true)
 |-- Jumping: integer (nullable = true)
 |-- Stamina: integer (nullable = true)
 |-- Strength: integer (nullable = true)
 |-- LongShots: integer (nullable = true)
 |-- Aggression: integer (nullable = true)
 |-- Interceptions: integer (nullable = true)
 |-- Positioning: integer (nullable = true)
 |-- Vision: integer (nullable = true)
 |-- Penalties: integer (nullable = true)
 |-- Composure: integer (nullable = true)
 |-- Marking: integer (nullable = true)
 |-- StandingTackle: integer (nullable = true)
 |-- SlidingTackle: integer (nullable = true)
 |-- GKDiving: integer (nullable = true)
 |-- GKHandling: integer (nullable = true)
 |-- GKKicking: integer (nullable = true)
 |-- GKPositioning: integer (nullable = true)
 |-- GKReflexes: integer (nullable = true)
 |-- Release Clause: string (nullable = true)

In [45]:
from pyspark.sql.functions import *

Using Spark SQL to select a set of columns

In [46]:
fifa.select(['Nationality','Name','Age','Photo']).show(5)

+-----------+-----------------+---+--------------------+
|Nationality|             Name|Age|               Photo|
+-----------+-----------------+---+--------------------+
|  Argentina|         L. Messi| 31|https://cdn.sofif...|
|   Portugal|Cristiano Ronaldo| 33|https://cdn.sofif...|
|     Brazil|        Neymar Jr| 26|https://cdn.sofif...|
|      Spain|           De Gea| 27|https://cdn.sofif...|
|    Belgium|     K. De Bruyne| 27|https://cdn.sofif...|
+-----------+-----------------+---+--------------------+
only showing top 5 rows

Using Spark SQL to filter players who are youngest

In [47]:
fifa.select(['Name','Age']).orderBy(fifa['Age'].desc()).show(5)

+-------------+---+
|         Name|Age|
+-------------+---+
|     O. Pérez| 45|
|    T. Warner| 44|
|K. Pilkington| 44|
|  S. Narazaki| 42|
|     M. Tyler| 41|
+-------------+---+
only showing top 5 rows

Using the like function you could filter our approximate elements of a column in spark df. Here is an example shown below

In [48]:
fifa.select(["Name","Club"]).where(fifa.Club.like("%Barcelona")).show(5,False)

+---------------+------------+
|Name           |Club        |
+---------------+------------+
|L. Messi       |FC Barcelona|
|L. Suárez      |FC Barcelona|
|M. ter Stegen  |FC Barcelona|
|Sergio Busquets|FC Barcelona|
|Coutinho       |FC Barcelona|
+---------------+------------+
only showing top 5 rows

Select only a part of the string using the substring function

In [49]:
fifa.select("Photo",fifa.Photo.substr(-4,4)).show(5,False)

+----------------------------------------------+-----------------------+
|Photo                                         |substring(Photo, -4, 4)|
+----------------------------------------------+-----------------------+
|https://cdn.sofifa.org/players/4/19/158023.png|.png                   |
|https://cdn.sofifa.org/players/4/19/20801.png |.png                   |
|https://cdn.sofifa.org/players/4/19/190871.png|.png                   |
|https://cdn.sofifa.org/players/4/19/193080.png|.png                   |
|https://cdn.sofifa.org/players/4/19/192985.png|.png                   |
+----------------------------------------------+-----------------------+
only showing top 5 rows

Selecting rows based on multiple values in a column. Here is an example on the same

In [50]:
fifa[fifa.Club.isin("FC Barcelona","Juventus")].limit(4).toPandas()

,_c0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96,33,28,26,6,11,15,14,8,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95,28,31,23,7,11,15,14,11,€127.1M
2,7,176580,L. Suárez,31,https://cdn.sofifa.org/players/4/19/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,91,91,FC Barcelona,...,85,62,45,38,27,25,31,33,37,€164M
3,15,211110,P. Dybala,24,https://cdn.sofifa.org/players/4/19/211110.png,Argentina,https://cdn.sofifa.org/flags/52.png,89,94,Juventus,...,84,23,20,20,5,4,4,5,8,€153.5M

Selecting and Filtering rows based on startswith and endswith function.
Ensure to chain the function in such a way to close this!

In [51]:
fifa.select("Name","Club").where(fifa.Name.startswith("L")).where(fifa.Name.endswith("i")).toPandas().head()

            Name             Club
0       L. Messi     FC Barcelona
1     L. Bonucci         Juventus
2   L. Fabiański  West Ham United
3  L. Pellegrini             Roma
4   L. Pavoletti         Cagliari

Getting the count of the rows in DataFrame

In [52]:
fifa.count()

18207

Selecting the first 5 rows without using head function or limit function

In [53]:
col_list = fifa.columns[0:5]
fifa_columns = fifa.select(col_list)

In [54]:
fifa_columns.show()

+---+------+-----------------+---+--------------------+
|_c0|    ID|             Name|Age|               Photo|
+---+------+-----------------+---+--------------------+
|  0|158023|         L. Messi| 31|https://cdn.sofif...|
|  1| 20801|Cristiano Ronaldo| 33|https://cdn.sofif...|
|  2|190871|        Neymar Jr| 26|https://cdn.sofif...|
|  3|193080|           De Gea| 27|https://cdn.sofif...|
|  4|192985|     K. De Bruyne| 27|https://cdn.sofif...|
|  5|183277|        E. Hazard| 27|https://cdn.sofif...|
|  6|177003|        L. Modrić| 32|https://cdn.sofif...|
|  7|176580|        L. Suárez| 31|https://cdn.sofif...|
|  8|155862|     Sergio Ramos| 32|https://cdn.sofif...|
|  9|200389|         J. Oblak| 25|https://cdn.sofif...|
| 10|188545|   R. Lewandowski| 29|https://cdn.sofif...|
| 11|182521|         T. Kroos| 28|https://cdn.sofif...|
| 12|182493|         D. Godín| 32|https://cdn.sofif...|
| 13|168542|      David Silva| 32|https://cdn.sofif...|
| 14|215914|         N. Kanté| 27|https://cdn.sofif...|
| 15|211110|        P. Dybala| 24|https://cdn.sofif...|
| 16|202126|          H. Kane| 24|https://cdn.sofif...|
| 17|194765|     A. Griezmann| 27|https://cdn.sofif...|
| 18|192448|    M. ter Stegen| 26|https://cdn.sofif...|
| 19|192119|      T. Courtois| 26|https://cdn.sofif...|
+---+------+-----------------+---+--------------------+
only showing top 20 rows

Finding the length of a column

In [55]:
len(fifa_columns.columns)

5

Creating a DataFrame

In [56]:
df = spark.createDataFrame([([1,2,3],),([4,5],)],['x'])
df.show()

+---------+
|        x|
+---------+
|[1, 2, 3]|
|   [4, 5]|
+---------+

In [57]:
new_df = df.take(2)[-1]
new_df

Row(x=[4, 5])

Slicing!

In [58]:
df_sliced = fifa.limit(10).orderBy('Nationality').limit(10)

In [59]:
df_sliced.toPandas().head(5)

,_c0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96,33,28,26,6,11,15,14,8,€226.5M
1,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88,68,58,51,15,13,5,10,13,€196.4M
2,5,183277,E. Hazard,27,https://cdn.sofifa.org/players/4/19/183277.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,91,Chelsea,...,91,34,27,22,11,12,6,8,8,€172.1M
3,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94,27,24,33,9,9,15,15,11,€228.1M
4,6,177003,L. Modrić,32,https://cdn.sofifa.org/players/4/19/177003.png,Croatia,https://cdn.sofifa.org/flags/10.png,91,91,Real Madrid,...,84,60,76,73,13,9,7,14,9,€137.4M

Filtering by using the filder function and selecting the data

In [60]:
fifa.filter("Overall>50").select(['Name','Age']).limit(5).toPandas()

                Name  Age
0           L. Messi   31
1  Cristiano Ronaldo   33
2          Neymar Jr   26
3             De Gea   27
4       K. De Bruyne   27

In [61]:
result = fifa.filter('Overall>50').select(["Nationality","Name","Age","Overall"]).orderBy(fifa["Overall"].desc()).collect()

In [62]:
for items in result[0:5]:
  print(items)

Row(Nationality='Argentina', Name='L. Messi', Age=31, Overall=94)
Row(Nationality='Portugal', Name='Cristiano Ronaldo', Age=33, Overall=94)
Row(Nationality='Brazil', Name='Neymar Jr', Age=26, Overall=92)
Row(Nationality='Spain', Name='De Gea', Age=27, Overall=91)
Row(Nationality='Belgium', Name='K. De Bruyne', Age=27, Overall=91)

In [63]:
print("Worst Player over 50:",result[-1][1])

Worst Player over 50: C. Addai

## SQL Options in Spark!

In [64]:
crime_dataset = spark.read.csv(general_path+"rec-crime-pfa.csv",header=True,inferSchema=True)

In [65]:
crime_dataset.limit(5).toPandas()

,12 months ending,PFA,Region,Offence,Rolling year total number of offences
0,31/03/2003,Avon and Somerset,South West,All other theft offences,25959
1,31/03/2003,Avon and Somerset,South West,Bicycle theft,3090
2,31/03/2003,Avon and Somerset,South West,Criminal damage and arson,26202
3,31/03/2003,Avon and Somerset,South West,Death or serious injury caused by illegal driving,2
4,31/03/2003,Avon and Somerset,South West,Domestic burglary,14561

Printing the Schema of a Data Set

In [66]:
crime_dataset.printSchema()

root
 |-- 12 months ending: string (nullable = true)
 |-- PFA: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Offence: string (nullable = true)
 |-- Rolling year total number of offences: integer (nullable = true)

Renaming a column in a dataset

In [67]:
df = crime_dataset.withColumnRenamed('Rolling year total number of offences','Count')
df.printSchema()

root
 |-- 12 months ending: string (nullable = true)
 |-- PFA: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Offence: string (nullable = true)
 |-- Count: integer (nullable = true)

Creating a Temporary view

In [68]:
df.createOrReplaceTempView("tempview")

In [69]:
spark.sql("SELECT * FROM tempview").limit(5).toPandas()

,12 months ending,PFA,Region,Offence,Count
0,31/03/2003,Avon and Somerset,South West,All other theft offences,25959
1,31/03/2003,Avon and Somerset,South West,Bicycle theft,3090
2,31/03/2003,Avon and Somerset,South West,Criminal damage and arson,26202
3,31/03/2003,Avon and Somerset,South West,Death or serious injury caused by illegal driving,2
4,31/03/2003,Avon and Somerset,South West,Domestic burglary,14561

In [70]:
spark.sql("SELECT Region, Offence FROM tempview WHERE Count > 1000").limit(5).toPandas()

       Region                    Offence
0  South West   All other theft offences
1  South West              Bicycle theft
2  South West  Criminal damage and arson
3  South West          Domestic burglary
4  South West              Drug offences

In [71]:
spark.sql("SELECT Region, sum(Count) AS Total FROM tempview GROUP BY Region").toPandas()

                      Region     Total
0               Fraud: CIFAS   7678981
1                 North West  30235732
2   British Transport Police   3029117
3                      Wales  11137260
4                     London  42691902
5                 South East  30911995
6        Fraud: Action Fraud   5921984
7          Fraud: UK Finance   2925861
8                 South West  17985880
9                       East  19890612
10             East Midlands  17264827
11  Yorkshire and The Humber  23769180
12             West Midlands  21040955
13                North East  10236642

## SQL Transformer

SQLTransformer is a Transformer in Spark ML that allows you to apply SQL-like transformations to a DataFrame. It takes a SQL statement as input and applies it to the input DataFrame, returning the resulting transformed DataFrame.

In [72]:
from pyspark.ml.feature import SQLTransformer

In [73]:
sqlTrans = SQLTransformer(statement = "SELECT PFA, Region, Offence FROM __THIS__")

In [74]:
sqlTrans.transform(df).show(5)

+-----------------+----------+--------------------+
|              PFA|    Region|             Offence|
+-----------------+----------+--------------------+
|Avon and Somerset|South West|All other theft o...|
|Avon and Somerset|South West|       Bicycle theft|
|Avon and Somerset|South West|Criminal damage a...|
|Avon and Somerset|South West|Death or serious ...|
|Avon and Somerset|South West|   Domestic burglary|
+-----------------+----------+--------------------+
only showing top 5 rows

Using the inbuilt expression function to bring out calculated columns

In [75]:
from pyspark.sql.functions import expr

In [76]:
df.withColumn("percent",expr('round((Count/244720928)*100,2) AS Percent')).toPandas()

,12 months ending,PFA,Region,Offence,Count,percent
0,31/03/2003,Avon and Somerset,South West,All other theft offences,25959,0.01
1,31/03/2003,Avon and Somerset,South West,Bicycle theft,3090,0.00
2,31/03/2003,Avon and Somerset,South West,Criminal damage and arson,26202,0.01
3,31/03/2003,Avon and Somerset,South West,Death or serious injury caused by illegal driving,2,0.00
4,31/03/2003,Avon and Somerset,South West,Domestic burglary,14561,0.01
...,...,...,...,...,...,...
46464,31/12/2018,Wiltshire,South West,Stalking and harassment,2380,0.00
46465,31/12/2018,Wiltshire,South West,Theft from the person,347,0.00
46466,31/12/2018,Wiltshire,South West,Vehicle offences,2895,0.00
46467,31/12/2018,Wiltshire,South West,Violence with injury,5701,0.00
46468,31/12/2018,Wiltshire,South West,Violence without injury,5840,0.00

You could also apply the filter function to filter your data frame

In [77]:
df.withColumn("percent",expr('round((Count/244720928)*100,2) AS Percent')).filter("Region='South West'").toPandas()

,12 months ending,PFA,Region,Offence,Count,percent
0,31/03/2003,Avon and Somerset,South West,All other theft offences,25959,0.01
1,31/03/2003,Avon and Somerset,South West,Bicycle theft,3090,0.00
2,31/03/2003,Avon and Somerset,South West,Criminal damage and arson,26202,0.01
3,31/03/2003,Avon and Somerset,South West,Death or serious injury caused by illegal driving,2,0.00
4,31/03/2003,Avon and Somerset,South West,Domestic burglary,14561,0.01
...,...,...,...,...,...,...
5265,31/12/2018,Wiltshire,South West,Stalking and harassment,2380,0.00
5266,31/12/2018,Wiltshire,South West,Theft from the person,347,0.00
5267,31/12/2018,Wiltshire,South West,Vehicle offences,2895,0.00
5268,31/12/2018,Wiltshire,South West,Violence with injury,5701,0.00
5269,31/12/2018,Wiltshire,South West,Violence without injury,5840,0.00

### Spark Filtering and Reading Assignment

In [78]:
googlep = spark.read.csv(general_path+"googleplaystore.csv",header=True,inferSchema=True)

In [79]:
# creating or replacing temp view 
googlep.printSchema()

root
 |-- App: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Rating: string (nullable = true)
 |-- Reviews: string (nullable = true)
 |-- Size: string (nullable = true)
 |-- Installs: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Price: string (nullable = true)
 |-- Content Rating: string (nullable = true)
 |-- Genres: string (nullable = true)
 |-- Last Updated: string (nullable = true)
 |-- Current Ver: string (nullable = true)
 |-- Android Ver: string (nullable = true)

In [80]:
from pyspark.sql.types import IntegerType, FloatType
df = googlep.withColumn("Rating", googlep["Rating"].cast(FloatType())) \
            .withColumn("Reviews",googlep["Reviews"].cast(IntegerType())) \
            .withColumn("Price",googlep["Price"].cast(IntegerType()))
print(df.printSchema())
df.limit(5).toPandas()

root
 |-- App: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Rating: float (nullable = true)
 |-- Reviews: integer (nullable = true)
 |-- Size: string (nullable = true)
 |-- Installs: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- Price: integer (nullable = true)
 |-- Content Rating: string (nullable = true)
 |-- Genres: string (nullable = true)
 |-- Last Updated: string (nullable = true)
 |-- Current Ver: string (nullable = true)
 |-- Android Ver: string (nullable = true)

None

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [81]:
df.createOrReplaceTempView("tempview")

In [82]:
spark.sql("SELECT * FROM tempview WHERE Rating > 4.1").limit(5).toPandas()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
1,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
2,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
3,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6M,"50,000+",Free,0,Everyone,Art & Design,"March 26, 2017",1.0,2.3 and up
4,Garden Coloring Book,ART_AND_DESIGN,4.4,13791,33M,"1,000,000+",Free,0,Everyone,Art & Design,"September 20, 2017",2.9.2,3.0 and up

In [83]:
sql_result = spark.sql("SELECT App,Rating FROM tempview WHERE Category ='COMICS' AND Rating > 4.5").limit(5).toPandas()

In [84]:
sql_result

                                                 App  Rating
0           Manga Master - Best manga & comic reader     4.6
1  GANMA! - All original stories free of charge f...     4.7
2                          Röhrich Werner Soundboard     4.7
3                    Unicorn Pokez - Color By Number     4.8
4                      Manga - read Thai translation     4.6

In [85]:
spark.sql("SELECT Category, sum(Reviews) AS Total_Reviews FROM tempview GROUP BY Category ORDER BY Total_Reviews DESC").limit(1).toPandas()

  Category  Total_Reviews
0     GAME     1585422349

In [86]:
spark.sql("SELECT App, Reviews FROM tempview ORDER BY Reviews DESC").show(1)

+--------+--------+
|     App| Reviews|
+--------+--------+
|Facebook|78158306|
+--------+--------+
only showing top 1 row

In [87]:
spark.sql("SELECT * FROM tempview WHERE App LIKE '%dating%'").limit(5).toPandas()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,"Meet, chat & date. Free dating app - Chocolate...",DATING,3.9,8661,9.5M,"1,000,000+",Free,0,Mature 17+,Dating,"April 3, 2018",0.1.11,4.0 and up
1,Friend Find: free chat + flirt dating app,DATING,NaN,23,11M,100+,Free,0,Mature 17+,Dating,"July 31, 2018",1.0,4.4 and up
2,Spine- The dating app,DATING,5.0,5,9.3M,500+,Free,0,Teen,Dating,"July 14, 2018",4.0,4.0.3 and up
3,Princess Closet : Otome games free dating sim,FAMILY,4.5,29495,56M,"1,000,000+",Free,0,Teen,Simulation,"May 24, 2018",1.11.0,4.0.3 and up
4,happn – Local dating app,LIFESTYLE,4.3,1118201,Varies with device,"10,000,000+",Free,0,Mature 17+,Lifestyle,"July 24, 2018",Varies with device,Varies with device

In [88]:
from pyspark.ml.feature import SQLTransformer

In [89]:
sqlTrans = SQLTransformer(statement="SELECT count(*) FROM __THIS__ WHERE Type = 'Free'")
sqlTrans.transform(df).show(1)

+--------+
|count(1)|
+--------+
|   10037|
+--------+

In [90]:
sqlTrans = SQLTransformer(
statement = "SELECT App, Reviews FROM __THIS__ WHERE Genres = 'Tools' AND REVIEWS > 10")
sqlTrans.transform(df).show(10)

+--------------------+--------+
|                 App| Reviews|
+--------------------+--------+
|   Moto File Manager|   38655|
|              Google| 8033493|
|    Google Translate| 5745093|
|        Moto Display|   18239|
|      Motorola Alert|   24199|
|     Motorola Assist|   37333|
|Cache Cleaner-DU ...|12759663|
|  Moto Suggestions ™|     308|
|          Moto Voice|   33216|
|          Calculator|   40770|
+--------------------+--------+
only showing top 10 rows

# SECTION - 3 Manipulating DataFrames

In this section we would be dealing with Manipulation of data sets. 
To do this we would be thinking on slicing and dicing the dataframe 
transforming it and transposing it etc.

In [91]:
videos = spark.read.csv(general_path+'youtubevideos.csv',inferSchema=True,header=True)

In [92]:
videos.toPandas().head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"""last week tonight trump presidency""|""last wee...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"""racist superman""|""rudy""|""mancuso""|""king""|""bac...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"""rhett and link""|""gmm""|""good mythical morning""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"""ryan""|""higa""|""higatv""|""nigahiga""|""i dare you""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

In [93]:
from pyspark.sql.types import *

In [102]:
df = videos.withColumn("views",videos["views"].cast(IntegerType())) \
           .withColumn("likes",videos["likes"].cast(IntegerType())) \
           .withColumn("dislikes",videos["dislikes"].cast(IntegerType())) \
           .withColumn("trending_date",to_date(videos.trending_date,'yy.dd.mm')) \
           .withColumn("publish_time",to_timestamp('publish_time','yyyy-MM-dd HH:mm:ss.S'))

In [103]:
df.printSchema()

root
 |-- video_id: string (nullable = true)
 |-- trending_date: date (nullable = true)
 |-- title: string (nullable = true)
 |-- channel_title: string (nullable = true)
 |-- category_id: string (nullable = true)
 |-- publish_time: timestamp (nullable = true)
 |-- tags: string (nullable = true)
 |-- views: integer (nullable = true)
 |-- likes: integer (nullable = true)
 |-- dislikes: integer (nullable = true)
 |-- comment_count: string (nullable = true)
 |-- thumbnail_link: string (nullable = true)
 |-- comments_disabled: string (nullable = true)
 |-- ratings_disabled: string (nullable = true)
 |-- video_error_or_removed: string (nullable = true)
 |-- description: string (nullable = true)

In [104]:
df.show(5)

+-----------+-------------+--------------------+--------------------+-----------+------------+--------------------+-------+------+--------+-------------+--------------------+-----------------+----------------+----------------------+--------------------+
|   video_id|trending_date|               title|       channel_title|category_id|publish_time|                tags|  views| likes|dislikes|comment_count|      thumbnail_link|comments_disabled|ratings_disabled|video_error_or_removed|         description|
+-----------+-------------+--------------------+--------------------+-----------+------------+--------------------+-------+------+--------+-------------+--------------------+-----------------+----------------+----------------------+--------------------+
|2kyS6SvSYSE|   2017-01-14|WE WANT TO TALK A...|        CaseyNeistat|         22|        null|     SHANtell martin| 748374| 57527|    2966|        15954|https://i.ytimg.c...|            False|           False|                 False|SHANTELL'S CHANNE...|
|1ZAPwfrtAFY|   2017-01-14|The Trump Preside...|     LastWeekTonight|         24|        null|"last week tonigh...|2418783| 97185|    6146|        12703|https://i.ytimg.c...|            False|           False|                 False|One year after th...|
|5qpjK5DgCt4|   2017-01-14|Racist Superman |...|        Rudy Mancuso|         23|        null|"racist superman"...|3191434|146033|    5339|         8181|https://i.ytimg.c...|            False|           False|                 False|WATCH MY PREVIOUS...|
|puqaWrEC7tY|   2017-01-14|Nickelback Lyrics...|Good Mythical Mor...|         24|        null|"rhett and link"|...| 343168| 10172|     666|         2146|https://i.ytimg.c...|            False|           False|                 False|Today we find out...|
|d380meD0W0M|   2017-01-14|I Dare You: GOING...|            nigahiga|         24|        null|"ryan"|"higa"|"hi...|2095731|132235|    1989|        17518|https://i.ytimg.c...|            False|           False|                 False|I know it's been ...|
+-----------+-------------+--------------------+--------------------+-----------+------------+--------------------+-------+------+--------+-------------+--------------------+-----------------+----------------+----------------------+--------------------+
only showing top 5 rows

In [97]:
from pyspark.sql.functions import *

In [105]:
df = df.withColumn('publish_time_2',regexp_replace(df.publish_time,'T',' '))

In [106]:
df = df.withColumn('publish_time_2',regexp_replace(df.publish_time_2,'Z',''))

In [107]:
df.select("publish_time_2").show(5,False)

+--------------+
|publish_time_2|
+--------------+
|null          |
|null          |
|null          |
|null          |
|null          |
+--------------+
only showing top 5 rows

In [108]:
df.toPandas().head(15)

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,publish_time_2
0,2kyS6SvSYSE,2017-01-14,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,NaT,SHANtell martin,748374.0,57527.0,2966.0,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...,None
1,1ZAPwfrtAFY,2017-01-14,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,NaT,"""last week tonight trump presidency""|""last wee...",2418783.0,97185.0,6146.0,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John...",None
2,5qpjK5DgCt4,2017-01-14,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,NaT,"""racist superman""|""rudy""|""mancuso""|""king""|""bac...",3191434.0,146033.0,5339.0,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...,None
3,puqaWrEC7tY,2017-01-14,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,NaT,"""rhett and link""|""gmm""|""good mythical morning""...",343168.0,10172.0,666.0,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...,None
4,d380meD0W0M,2017-01-14,I Dare You: GOING BALD!?,nigahiga,24,NaT,"""ryan""|""higa""|""higatv""|""nigahiga""|""i dare you""...",2095731.0,132235.0,1989.0,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...,None
5,gHZ1Qz0KiKM,2017-01-14,2 Weeks with iPhone X,iJustine,28,NaT,"""ijustine""|""week with iPhone X""|""iphone x""|""ap...",119180.0,9763.0,511.0,1434,https://i.ytimg.com/vi/gHZ1Qz0KiKM/default.jpg,False,False,False,Using the iPhone for the past two weeks -- her...,None
6,39idVpFF7NQ,2017-01-14,Roy Moore & Jeff Sessions Cold Open - SNL,Saturday Night Live,24,NaT,"""SNL""|""Saturday Night Live""|""SNL Season 43""|""E...",2103417.0,15993.0,2445.0,1970,https://i.ytimg.com/vi/39idVpFF7NQ/default.jpg,False,False,False,Embattled Alabama Senate candidate Roy Moore (...,None
7,nc99ccSXST0,2017-01-14,5 Ice Cream Gadgets put to the Test,CrazyRussianHacker,28,NaT,"""5 Ice Cream Gadgets""|""Ice Cream""|""Cream Sandw...",817732.0,23663.0,778.0,3432,https://i.ytimg.com/vi/nc99ccSXST0/default.jpg,False,False,False,Ice Cream Pint Combination Lock - http://amzn....,None
8,jr9QtXwC9vc,2017-01-14,The Greatest Showman | Official Trailer 2 [HD]...,20th Century Fox,1,NaT,"""Trailer""|""Hugh Jackman""|""Michelle Williams""|""...",826059.0,3543.0,119.0,340,https://i.ytimg.com/vi/jr9QtXwC9vc/default.jpg,False,False,False,"Inspired by the imagination of P.T. Barnum, Th...",None
9,TUmyygCMMGA,2017-01-14,Why the rise of the robots won’t mean the end ...,Vox,25,NaT,"""vox.com""|""vox""|""explain""|""shift change""|""futu...",256426.0,12654.0,1363.0,2368,https://i.ytimg.com/vi/TUmyygCMMGA/default.jpg,False,False,False,"For now, at least, we have better things to wo...",None
10,9wRQljFNDW8,2017-01-14,Dion Lewis' 103-Yd Kick Return TD vs. Denver! ...,NFL,17,NaT,"""NFL""|""Football""|""offense""|""defense""|""afc""|""nf...",81377.0,655.0,25.0,177,https://i.ytimg.com/vi/9wRQljFNDW8/default.jpg,False,False,False,New England Patriots returner Dion Lewis blast...,None
11,VifQlJit6A0,2017-01-14,(SPOILERS) 'Shiva Saves the Day' Talked About ...,amc,24,NaT,"""The Walking Dead""|""shiva""|""tiger""|""king ezeki...",104578.0,1576.0,303.0,1279,https://i.ytimg.com/vi/VifQlJit6A0/default.jpg,False,False,False,Shiva arrives just in time as King Ezekiel att...,None
12,5E4ZBSInqUU,2017-01-14,Marshmello - Blocks (Official Music Video),marshmello,10,NaT,"""marshmello""|""blocks""|""marshmello blocks""|""blo...",687582.0,114188.0,1333.0,8371,https://i.ytimg.com/vi/5E4ZBSInqUU/default.jpg,False,False,False,WATCH SILENCE MUSIC VIDEO ▶ https://youtu.be/T...,None
13,GgVmn66oK_A,2017-01-14,Which Countries Are About To Collapse?,NowThis World,25,NaT,"""nowthis""|""nowthis world""|""world news""|""nowthi...",544770.0,7848.0,1171.0,3981,https://i.ytimg.com/vi/GgVmn66oK_A/default.jpg,False,False,False,"The world at large is improving, but some coun...",None
14,TaTleo4cOs8,2017-01-14,SHOPPING FOR NEW FISH!!!,The king of DIY,15,NaT,"""shopping for new fish""|""new fish""|""aquarium f...",207532.0,7473.0,246.0,2120,https://i.ytimg.com/vi/TaTleo4cOs8/default.jpg,False,False,False,Today we go shopping for new fish for some of ...,None

### Trimming the Column Values
- Use the trim function to remove unwanted spaces in values of column

In [109]:
df = df.withColumn('title',trim(df.title))

In [110]:
df.select('title').show(4,False)

+--------------------------------------------------------------+
|title                                                         |
+--------------------------------------------------------------+
|WE WANT TO TALK ABOUT OUR MARRIAGE                            |
|The Trump Presidency: Last Week Tonight with John Oliver (HBO)|
|Racist Superman | Rudy Mancuso, King Bach & Lele Pons         |
|Nickelback Lyrics: Real or Fake?                              |
+--------------------------------------------------------------+
only showing top 4 rows

### Converting all the text to lower case in Columns 

Use the `lower(df.column_name)` to lower the text case of columns

In [111]:
df.select('title',lower(df.title)).show(5,False)

+--------------------------------------------------------------+--------------------------------------------------------------+
|title                                                         |lower(title)                                                  |
+--------------------------------------------------------------+--------------------------------------------------------------+
|WE WANT TO TALK ABOUT OUR MARRIAGE                            |we want to talk about our marriage                            |
|The Trump Presidency: Last Week Tonight with John Oliver (HBO)|the trump presidency: last week tonight with john oliver (hbo)|
|Racist Superman | Rudy Mancuso, King Bach & Lele Pons         |racist superman | rudy mancuso, king bach & lele pons         |
|Nickelback Lyrics: Real or Fake?                              |nickelback lyrics: real or fake?                              |
|I Dare You: GOING BALD!?                                      |i dare you: going bald!?                                      |
+--------------------------------------------------------------+--------------------------------------------------------------+
only showing top 5 rows

### Dynamically Creating a column based on a condition

Using the `when()` and `otherWise()` functions you could dynamically create columns

In [118]:
df.select("likes","dislikes",(when(df.likes > df.dislikes,"Good").when(df.likes < df.dislikes,'Bad').otherwise('Underdertmined')).alias("Favourability")).show(3)

+------+--------+-------------+
| likes|dislikes|Favourability|
+------+--------+-------------+
| 57527|    2966|         Good|
| 97185|    6146|         Good|
|146033|    5339|         Good|
+------+--------+-------------+
only showing top 3 rows

You could also directly use the `expr()` function to pass your expression to achieve the same result

In [121]:
df.select("likes","dislikes",expr("CASE WHEN likes > dislikes THEN 'Good' WHEN dislikes > likes THEN 'Bad' ELSE 'Undetermined' END AS Favourability")).show(3)

+------+--------+-------------+
| likes|dislikes|Favourability|
+------+--------+-------------+
| 57527|    2966|         Good|
| 97185|    6146|         Good|
|146033|    5339|         Good|
+------+--------+-------------+
only showing top 3 rows

By using `selectExpr()`, you dont have to seperate your cases

In [123]:
df.selectExpr("likes","dislikes","CASE WHEN likes > dislikes THEN 'Good' WHEN dislikes > likes THEN 'Bad' ELSE 'Undetermined' END AS Favourability").show(3)

+------+--------+-------------+
| likes|dislikes|Favourability|
+------+--------+-------------+
| 57527|    2966|         Good|
| 97185|    6146|         Good|
|146033|    5339|         Good|
+------+--------+-------------+
only showing top 3 rows

### Concatenating the strings from 1 column with another

Its joining of 2 columns which has string values

In [124]:
df.select(concat_ws(' ',df.title,df.channel_title).alias('text')).show(5,False)

+------------------------------------------------------------------------------+
|text                                                                          |
+------------------------------------------------------------------------------+
|WE WANT TO TALK ABOUT OUR MARRIAGE CaseyNeistat                               |
|The Trump Presidency: Last Week Tonight with John Oliver (HBO) LastWeekTonight|
|Racist Superman | Rudy Mancuso, King Bach & Lele Pons Rudy Mancuso            |
|Nickelback Lyrics: Real or Fake? Good Mythical Morning                        |
|I Dare You: GOING BALD!? nigahiga                                             |
+------------------------------------------------------------------------------+
only showing top 5 rows

### Using the year, month function to seperate the data column values. 

By using the year, month function in a date datatype, you could individually access your days and years and months. Here is an example for the same

In [126]:
df.select('trending_date',year('trending_date'),month('trending_date')).show(5)

+-------------+-------------------+--------------------+
|trending_date|year(trending_date)|month(trending_date)|
+-------------+-------------------+--------------------+
|   2017-01-14|               2017|                   1|
|   2017-01-14|               2017|                   1|
|   2017-01-14|               2017|                   1|
|   2017-01-14|               2017|                   1|
|   2017-01-14|               2017|                   1|
+-------------+-------------------+--------------------+
only showing top 5 rows

### Finding the date differences by using the `datediff()` function

by using the `datediff()` function you could get your date differences

In [128]:
df.select("trending_date","publish_time_2",datediff(df.trending_date,df.publish_time_2)).show(5)

+-------------+--------------+---------------------------------------+
|trending_date|publish_time_2|datediff(trending_date, publish_time_2)|
+-------------+--------------+---------------------------------------+
|   2017-01-14|          null|                                   null|
|   2017-01-14|          null|                                   null|
|   2017-01-14|          null|                                   null|
|   2017-01-14|          null|                                   null|
|   2017-01-14|          null|                                   null|
+-------------+--------------+---------------------------------------+
only showing top 5 rows

You could also add calculations on your date differences

In [129]:
df.select("trending_date","publish_time_2",datediff(df.publish_time_2,df.trending_date)/365).show(5)

+-------------+--------------+-----------------------------------------------+
|trending_date|publish_time_2|(datediff(publish_time_2, trending_date) / 365)|
+-------------+--------------+-----------------------------------------------+
|   2017-01-14|          null|                                           null|
|   2017-01-14|          null|                                           null|
|   2017-01-14|          null|                                           null|
|   2017-01-14|          null|                                           null|
|   2017-01-14|          null|                                           null|
+-------------+--------------+-----------------------------------------------+
only showing top 5 rows

### Splitting Column Values 

Use the `split()` function to split your column values. You could alias your columns as well

In [132]:
array = df.select('title',split(df.title,' ').alias('new'))

In [133]:
array.show(5)

+--------------------+--------------------+
|               title|                 new|
+--------------------+--------------------+
|WE WANT TO TALK A...|[WE, WANT, TO, TA...|
|The Trump Preside...|[The, Trump, Pres...|
|Racist Superman |...|[Racist, Superman...|
|Nickelback Lyrics...|[Nickelback, Lyri...|
|I Dare You: GOING...|[I, Dare, You:, G...|
+--------------------+--------------------+
only showing top 5 rows

### Checking values within a column

Using the `array_contains()` function you could check the values of a column to search your prefered value. The result would be a boolean true or false value. Here is a syntax on the same

In [134]:
array.select('title',array_contains(array.new,"MARRIAGE")).show(1,False)

+----------------------------------+-----------------------------+
|title                             |array_contains(new, MARRIAGE)|
+----------------------------------+-----------------------------+
|WE WANT TO TALK ABOUT OUR MARRIAGE|true                         |
+----------------------------------+-----------------------------+
only showing top 1 row

### Finding distinct values within a Dataset

You could use the `array_distint()` function to identify distinct values in your dataset

In [135]:
array.select('title',array_distinct(array.new)).show(5)

+--------------------+--------------------+
|               title| array_distinct(new)|
+--------------------+--------------------+
|WE WANT TO TALK A...|[WE, WANT, TO, TA...|
|The Trump Preside...|[The, Trump, Pres...|
|Racist Superman |...|[Racist, Superman...|
|Nickelback Lyrics...|[Nickelback, Lyri...|
|I Dare You: GOING...|[I, Dare, You:, G...|
+--------------------+--------------------+
only showing top 5 rows

### Removing Values in a DataFrame

Use the `array_remove()` function to remove values in the dataframe

In [136]:
array.select('title',array_remove(array.new,"WE")).show(5,False)

+--------------------------------------------------------------+-------------------------------------------------------------------------+
|title                                                         |array_remove(new, WE)                                                    |
+--------------------------------------------------------------+-------------------------------------------------------------------------+
|WE WANT TO TALK ABOUT OUR MARRIAGE                            |[WANT, TO, TALK, ABOUT, OUR, MARRIAGE]                                   |
|The Trump Presidency: Last Week Tonight with John Oliver (HBO)|[The, Trump, Presidency:, Last, Week, Tonight, with, John, Oliver, (HBO)]|
|Racist Superman | Rudy Mancuso, King Bach & Lele Pons         |[Racist, Superman, |, Rudy, Mancuso,, King, Bach, &, Lele, Pons]         |
|Nickelback Lyrics: Real or Fake?                              |[Nickelback, Lyrics:, Real, or, Fake?]                                   |
|I Dare You: GOING BALD!?                                      |[I, Dare, You:, GOING, BALD!?]                                           |
+--------------------------------------------------------------+-------------------------------------------------------------------------+
only showing top 5 rows

### Using custom Functions to execute computation in columns

In [139]:
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType

In [141]:
def square(x):
  return int(x**2)

In [142]:
square_udf = udf(lambda z: square(z), IntegerType())

In [145]:
df.select('dislikes',square_udf('dislikes')).where(col('dislikes').isNotNull()).show(2)

+--------+------------------+
|dislikes|<lambda>(dislikes)|
+--------+------------------+
|    2966|           8797156|
|    6146|          37773316|
+--------+------------------+
only showing top 2 rows