<a href="https://colab.research.google.com/github/citysiva180/PySpark_Exclusive_Learning/blob/main/PySpark_Essentials_by_LAYLA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.9/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317145 sha256=d34754cb146ce3deb833f9d221f7d9fe5d24ce0d07e45dfa2839f60424658582
  Stored in directory: /root/.cache/pip/wheels/9f/34/a4/159aa12d0a510d5ff7c8f0220abbea42e5d81ecf588c4fd884
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

## Birds eye view of the course content
  - PySpark Dataframes
  - Spark MLlib
  - Industry Concepts and Best Practices 
  - All using Real dataseta - no fakes!

## Course Curriculum Overview 

- Introduction to PySpark
- Setup Options and Installation Guides 
- Transitioning from Python to PySpark

## Dataframe Essentials 

- Read, write and Validata Dataframes 
- Search/Filter DataFrames 
- Spark SQL Options
- Manipulating Data 
- Aggregating DataFrames 
- Joining and Appending DataFrames 
- Handling Missing Data

## MLlib 

- Foundational Knowledge 
  - Introduction to Machine Learning 
  - Introduction to MLlib
  - Model Selection, Tuning and Cross Validation
- Supervised Learning 
  - Classification Techniques
  - Natural language Processing 
  - Regression Techniques
- Un Supervised Learning 
  - Clustering and Topic Modelling 
  - Frequent Pattern Mining

## Classification and Algorithm Deep learning 

- Logistic Regression
- Binomial Logistic Regression
- Multinomial Logistic Regression
- Decision Tree Classifier
- Random Forest Classifier 
- Gradient Boosted Tree Classifier
- Multi-Layer perception Classifier
- Linear Support Vector Machine 
- One-vs-Rest Classifer
- Naive Bayes

## Natural Language Processing 
- Tokenizing 
- Cleaning Text
- Stopword Removal
- Vectorizing Options: 
  - Count Vectors
  - TF-IDF
  - Word2Vec

## Regression
- Linear Regression
- Decision Tree Regression
- Random Forest Regression
- Gradient Boosted Tree Regression

## Unsupervised Learning 

- Clustering
  - Latent Drichlet Allocation
  - K-Means
  - Bisecting K-Means
  - Gaussian Mixture Model
- Frequent Pattern Mining
  - FP-Growth (Frequent Pattern Growth)
  - Prefix-Span (Sequential Pattern Mining)

## Spark Structured Streaming
- Overview of Concepts
- Simple exmaple using Sockets 
- Twitter Project Streaming Live data

# SECTION - 1 : Introduction to PySpark

### How is PySpark Different than Python? 

- Runs on a cluster
- Certain Process will look different especially when you get in the Machine learning Libraries 
- PySpark Does not use Indexing 
- All Objects in PySpark are Immutable
- Error Messags are much less informative 
- Many of the libraries you are used to using in Python won't function in PySpark

### When does data become Big Data? 

- Datasets which can fit into your disk are not big data 
- Your data becoms big - if you are unable to perform simple read and aggregations with your un used computable memory 
- These data would occupy huge memory space which would require higher processing power such as cloud to maintain and tame them

## Spark Benefits

- Its Written in Scala...but has plenty of API in Scala, Java, Python and R
- Spark Utilizes Hadoop in 2 ways 
  - Storage
  - Process handling 
- Spark is intended to cover an extensive variety of remaining leads, 
for example, cluster applications, iterative calculations, intuitive questions and streaming

***Lazy Computation***

Spark Does not execute the transformation untile some action is encountered or cache is encountered

### Spark Core 
- In charge of Essential IO functionalities 
- Significant in programming and observing the role of spark cluster 
- Task Dispatching 
- Fault Recovery 
- Over Comes Snag of MapReduce by using In Memory Computation

### Spark SQL

- Distributed framework for structured data processing. 
- Spark gets more information about the structure of data and the computation. With this information, Spark can perform extra optimization
- Great for people who don't know Python, Scala or Java

## Spark Streaming

- An Add-on to core Spark API 
  - Scalable 
  - High Throughput 
  - fault tolerant stream processing of live data streams 
- Access data from sources like kafka, Flume, Kinesis or TCP Socket 
- It can operate using various algorithms uses micro-batching

## Spark MLlib

- High quality algorithms at high speeds 
- Make machine learning easy and scalable 
- Came in Spark Release 2.0 
- RDD vs DataFrames

## Spark Graph X

- API for graphs and graph-parallel computation
- Unifies ETL process, Exploratory Analysis and Iterative graph computation within a single system 
- Useage :  Used for many graphical presentation such as Facebooks friendship network
- Industries: disaster detection, banking, stock Market, banking and geographical systems

# Transitioning from Python to PySpark

**What is diffrent in PySpark?**

- Spark MLlib has replaced traditional Python libraries 
- Dataframes took the place of Pandas DF
- Storage Optimization is provided. So you could partition
- Lazy Computation
- Creating functions

**What is same?**

- Importing Libraries 
- General Syntax Style 
- A Lot of AWS Calls are the same

# SECTION - 2 : Dataframes Essentials - Read, Write and Validate data

## What are dataframes? 

Dataframe is data in rows and columns but not persisted in a database table. Rather its a memory level data stored in rows and columns

## Reading DataFrames in Spark 

Spark Supports reading file formats such as CSV, JSON, Parquet and Hive
It could read from Local system or a Distributed system such as Hadoop or a cloud storage system such as s3. It could also read from external database systems

## Paritioning Data in PySpark 

- When it comes to bigdata management, its preferred to parition the files to different sction and store them apart as a parquet files. This reduces the memory space and management 
- Spark has inbuilt functionalities to manage such partitioned or seperated files. Which is cool!

### Coding Section!

1. Read, Write and Validate Data Frames 
  - Read, Write Validate 
  - Exploration DataFrame 
  - SQL options Spark 
2. Clean, Manipulate, Join and Aggregate
  - Manipulating DF, 
  - Joining/Appending DataFrames 
  - Handling Missing Data
  - Aggregation DataFrames

### Spark Session

Use these import statements to create a spark session. 
Using the SparkSession function and the appName function
you create an name the session.But its the `getOrCreate()` which created the spark function

In [3]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('ReadWriteVal').getOrCreate()
spark

Identifying the number of cores of a spark session

In [4]:
cores = spark._jsc.sc().getExecutorMemoryStatus().keySet().size()
cores

1

### Reading a CSV file 

Use the spark.read function to accomplish the same. 
You have parameters such as 
1. `inferSchema( )` - automatically identifies the datatypes of your columns 
2. `header=True` - automatically picks up the column names with the first row

In [5]:
student_path = '/content/drive/MyDrive/Python Files and Datasets AS of 16MAY21 2/PySpark DataFrame Essentials/Datasets/students.csv'
students = spark.read.csv(student_path, inferSchema=True, header=True)

In [6]:
students.toPandas().head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

`limit(n)` helps in limiting the reading of rows in spark dataframe

In [7]:
students.limit(4).toPandas()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44

### Reading and Loading Parquet file

Parquet files are simple data files. the deal is you cant read them with an UI. 
You only have the options to read them from a code. So basically the meta data 
for reading the file using an UI is removed giving it less weight. 

use the `spark.read.parquet(file_path)` to read your file

In [8]:
parquet_path = '/content/drive/MyDrive/Python Files and Datasets AS of 16MAY21 2/PySpark DataFrame Essentials/Datasets/users1.parquet'
patitioned_file = spark.read.parquet(parquet_path)
patitioned_file.limit(4).toPandas()

/usr/local/lib/python3.9/dist-packages/pyspark/sql/pandas/conversion.py:251: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

,registration_dttm,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
0,2016-02-03 07:55:29,1,Amanda,Jordan,ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,3/8/1971,49756.53,Internal Auditor,1E+02
1,2016-02-03 17:04:03,2,Albert,Freeman,afreeman1@is.gd,Male,218.111.175.34,,Canada,1/16/1968,150280.17,Accountant IV,
2,2016-02-03 01:09:31,3,Evelyn,Morgan,emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,2/1/1960,144972.51,Structural Engineer,
3,2016-02-03 00:36:21,4,Denise,Riley,driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,4/8/1997,90263.05,Senior Cost Accountant,

### Reading Multiple Parquet Files

To read multiple parquet files, you need to do the following 
- pass multiple parameters to read files. 
- Use a wild card

Note, the data schema should be the same

In [9]:
general_path = '/content/drive/MyDrive/Python Files and Datasets AS of 16MAY21 2/PySpark DataFrame Essentials/Datasets/'
users_1_2 = spark.read.parquet(general_path+'users1.parquet',general_path+'users2.parquet')
users_1_2.limit(4).toPandas()

/usr/local/lib/python3.9/dist-packages/pyspark/sql/pandas/conversion.py:251: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

,registration_dttm,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
0,2016-02-03 07:55:29,1,Amanda,Jordan,ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,3/8/1971,49756.53,Internal Auditor,1E+02
1,2016-02-03 17:04:03,2,Albert,Freeman,afreeman1@is.gd,Male,218.111.175.34,,Canada,1/16/1968,150280.17,Accountant IV,
2,2016-02-03 01:09:31,3,Evelyn,Morgan,emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,2/1/1960,144972.51,Structural Engineer,
3,2016-02-03 00:36:21,4,Denise,Riley,driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,4/8/1997,90263.05,Senior Cost Accountant,

The both the syntax are same for reading multiple files.

In [10]:
users_1_2 = spark.read.option("basePath",general_path).parquet(general_path+'users1.parquet',general_path+'users2.parquet')
users_1_2.limit(4).toPandas()

/usr/local/lib/python3.9/dist-packages/pyspark/sql/pandas/conversion.py:251: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

,registration_dttm,id,first_name,last_name,email,gender,ip_address,cc,country,birthdate,salary,title,comments
0,2016-02-03 07:55:29,1,Amanda,Jordan,ajordan0@com.com,Female,1.197.201.2,6759521864920116,Indonesia,3/8/1971,49756.53,Internal Auditor,1E+02
1,2016-02-03 17:04:03,2,Albert,Freeman,afreeman1@is.gd,Male,218.111.175.34,,Canada,1/16/1968,150280.17,Accountant IV,
2,2016-02-03 01:09:31,3,Evelyn,Morgan,emorgan2@altervista.org,Female,7.161.136.94,6767119071901597,Russia,2/1/1960,144972.51,Structural Engineer,
3,2016-02-03 00:36:21,4,Denise,Riley,driley3@gmpg.org,Female,140.35.109.83,3576031598965625,China,4/8/1997,90263.05,Senior Cost Accountant,

### Validating Data

You could use the `printSchema()` function to validate your data frame.
by printing the schema, you get the schema in which the dataframe is built.

In [11]:
students.printSchema()

root
 |-- gender: string (nullable = true)
 |-- race/ethnicity: string (nullable = true)
 |-- parental level of education: string (nullable = true)
 |-- lunch: string (nullable = true)
 |-- test preparation course: string (nullable = true)
 |-- math score: integer (nullable = true)
 |-- reading score: integer (nullable = true)
 |-- writing score: integer (nullable = true)

Using `.columns` to identify columns of a data frame

In [12]:
students.columns

['gender',
 'race/ethnicity',
 'parental level of education',
 'lunch',
 'test preparation course',
 'math score',
 'reading score',
 'writing score']

Using describe to find the details of the dataframe. 
- unlike pandas describe, spark `.describe() `function actually talks about the schema of the dataframe

In [13]:
students.describe()

DataFrame[summary: string, gender: string, race/ethnicity: string, parental level of education: string, lunch: string, test preparation course: string, math score: string, reading score: string, writing score: string]

Using the Schema function. You could use the `df.schema['column_name']` to get only the specified column data type.

In [14]:
students.schema['math score'].dataType

IntegerType()

You could also use the select statement and summary to summarize your data. 
At this time, I could see its aggregating. So I think it would not exactly be

In [15]:
students.select("math score", "reading score").summary("count","min","max").show()

+-------+----------+-------------+
|summary|math score|reading score|
+-------+----------+-------------+
|  count|      1000|         1000|
|    min|         0|           17|
|    max|       100|          100|
+-------+----------+-------------+

## Specifying Data Types 

You could decide and specify your data frame's schema using `StructField()` function. 
Use the syntax as below

In [19]:
from pyspark.sql.types import *

data_schema = [
    StructField("name",StringType(),True),
    StructField("email",StringType(),True),
    StructField("city",StringType(),True),
    StructField("mac",StringType(),True),
    StructField("timestamp",DateType(),True),
    StructField("creditcard",StringType(),True),

]

final_struct = StructType(fields = data_schema)
people = spark.read.json(general_path+'people.json',schema=final_struct)

In [20]:
people.limit(4).toPandas()

,name,email,city,mac,timestamp,creditcard
0,None,None,None,None,None,None
1,Keeley Bosco,katlyn@jenkinsmaggio.net,Lake Gladysberg,08:fd:0b:cd:77:f7,2015-04-25,1228-1221-1221-1431
2,Rubye Jerde,juvenal@johnston.name,None,90:4d:fa:42:63:a2,2015-04-25,1228-1221-1221-1431
3,Miss Darian Breitenberg,None,None,f9:0e:d3:40:cb:e9,2015-04-25,None

In [21]:
people.printSchema()

root
 |-- name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- city: string (nullable = true)
 |-- mac: string (nullable = true)
 |-- timestamp: date (nullable = true)
 |-- creditcard: string (nullable = true)